.hero {
    height: 75vh;
    width: 95vw;
    background-color: transparent;
    border-radius: var(--border-radius);
    margin-top: -55px;
    z-index: 1;
    overflow: hidden;
    display: flex; /* add display: flex to parent element */
    flex-direction: column; /* specify a flex direction */
    align-items: center; /* center child elements horizontally */
    -webkit-overflow-scrolling: touch; /* add this for smooth scrolling on mobile */

}

.container {
    height: 100%;
    width: 100%;
}

.wrapper {
    height: 100%;
    width: 100%;
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.left {
    flex: 2;
    height: 100%;
    width: 100%;
}

.leftContent {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    border-radius: var(--border-radius);
}

.leftContent h1 {
    font-size: 50px;
    margin-left: 40px;
    text-shadow: 0px 14px 16px;
    margin-bottom: -20px;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 28%;
}

.contact button {
    width: 140px;
    height: 50px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    box-shadow: 5px 15px 25px black;
    margin-bottom: 20px;
    margin-top: -20px;
}

.heroImg {
    position: relative;
    bottom: 515px;
    left: 36%;
    border-radius: var(--border-radius);
}

.right {
    flex: 1;
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
    border: 1px solid black;

}

.rightContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    margin-left: 25%;
    grid-template-columns: repeat(4, minmax(25%, auto)); 
    width: var(--max-width);
     max-width: 100%;
}

.card {
    /* padding: 1rem 1.2rem; */
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
}

.card span {
    display: inline-block;
    transition: transform 200ms;
}

.card h2 {
    font-weight: 400;
    margin-bottom: 0.7rem;
    font-size: 1rem;
}

.card p {
    margin: 0;
    opacity: 0.6;
    font-size: 0.8rem;
    line-height: 1.5;
    max-width: 30ch;
}

@media (hover: hover) and (pointer: fine) {
    .card:hover {
        background: rgba(var(--card-rgb), 0.1);
        border: 1px solid rgba(var(--card-border-rgb), 0.15);

    }

    .card:hover span {
        transform: translateX(4px);
    }
}
@media screen and (min-width: 1279px){
    .heroImg {
        position: relative;
        bottom: 600px;
        left: 40%;
        width: 530px;
        height: 600px;
    }
}

@media screen and (min-width: 1310px){
    .heroImg {
        position: relative;
        bottom: 600px;
        left: 40%;
        width: 530px;
        height: 600px;
    }
}
@media screen and (min-width: 1300px) {
    .hero {
        height: 75vh;
        width: 95vw;
        border: 1px solid black;
        background-color: black;
        border-radius: var(--border-radius);
        margin-top: -55px;
        z-index: 1;
        overflow: hidden;
    }

    .container {
        height: 100%;
        width: 100%;
    }
    
    .wrapper {
        height: 100%;
        width: 100%;
        flex: 3;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .left {
        flex: 2;
        height: 100%;
        width: 100%;
    }
    
    .leftContent {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: left;
        justify-content: space-evenly;
        flex-direction: column;
        background-color: white;
        border: 1px solid black;
        border-radius: var(--border-radius);
    }
    
    .leftContent h1 {
        font-size: 50px;
        margin-left: 50px;
    }
    
    .contact {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 24%;
    }
    
    .contact button {
        width: 140px;
        height: 50px;
        background-color: black;
        color: white;
        text-decoration: none;
        border-radius: var(--border-radius);
        cursor: pointer;
        box-shadow: 5px 15px 25px black;
    }
    
    .heroImg {
        position: relative;
        bottom: 540px;
        left: 40%;
        width: 620px;
        height: 600px;
    }
    
    .right {
        flex: 1;
        background-color: white;
        height: 100%;
        width: 100%;
        border-radius: var(--border-radius);
        overflow: hidden;
        border: 1px solid black;
    
    }
    
    .rightContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .grid {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
        margin-left: 25%;
        
    }
    
    .card {
        border-radius: var(--border-radius);
        background: rgba(var(--card-rgb), 0);
        border: 1px solid rgba(var(--card-border-rgb), 0);
        transition: background 200ms, border 200ms;
    }
    
    .card span {
        display: inline-block;
        transition: transform 200ms;
    }
    
    .card h2 {
        font-weight: 400;
        margin-bottom: 0.7rem;
        font-size: 1rem;
    }
    
    .card p {
        margin: 0;
        opacity: 0.6;
        font-size: 0.8rem;
        line-height: 1.5;
        max-width: 30ch;
    }
}

@media screen and (max-width: 700px) {
   
    .hero {
        height: 75vh;
        width: 95vw;
        border: 1px solid black;
        background-color: black;
        border-radius: var(--border-radius);
        margin-top: -55px;
        z-index: 1;
        overflow: hidden;
    
    }
    
    .container {
        height: 100%;
        width: 100%;
    }
    
    .wrapper {
        height: 100%;
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .left {
        flex: 1;
        height: 40%;
        width: 100%;
    }
    
    .leftContent {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: left;
        justify-content: space-evenly;
        flex-direction: column;
        background-color: white;
        border: 1px solid black;
        border-radius: var(--border-radius);
    }
    
    .leftContent h1 {
        font-size: 30px;
        margin-left: 260px;
        margin-bottom: -30px;
        margin-top: -20px;
    }
    
    .contact {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 28%;
    }
    
    .contact button {
        width: 90px;
        height: 50px;
        background-color: black;
        color: white;
        text-decoration: none;
        border-radius: var(--border-radius);
        cursor: pointer;
        box-shadow: 5px 15px 25px black;
        margin-bottom: 50px;
        font-size: 9px;
        font-weight: bold;
        margin-left: 500px;
    }
    
    .heroImg {
        position: relative;
        bottom: 320px;
        left: -2.5%;
        height: 320px;
        width: 250px;
    }
    
    .right {
        flex: 1;
        background-color: white;
        height: 100%;
        width: 100%;
        border-radius: var(--border-radius);
        overflow: hidden;
        border: 1px solid black;
    
    }
    
    .rightContainer {
        display: flex;
        flex-direction: column;
        width: 559px;
        height: 100%;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .grid {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
        margin-left: 25%;
    }
    
    .card {
        border-radius: var(--border-radius);
        background: rgba(var(--card-rgb), 0);
        border: 1px solid rgba(var(--card-border-rgb), 0);
        transition: background 200ms, border 200ms;
    }
    
    .card span {
        display: inline-block;
        transition: transform 200ms;
    }
    
    .card h2 {
        font-weight: 400;
        margin-bottom: 0.7rem;
        font-size: .8rem;
    }
    
    .card p {
        margin: 0;
        opacity: 0.6;
        font-size: 0.6rem;
        line-height: 1.5;
        max-width: 30ch;
    }
}


@media screen and (min-width: 1900px) {
    .hero {
        height: 75vh;
        width: 95vw;
        border: 1px solid black;
        background-color: black;
        border-radius: var(--border-radius);
        margin-top: -55px;
        z-index: 1;
        overflow: hidden;
    
    }
    
    .container {
        height: 100%;
        width: 100%;
    }
    
    .wrapper {
        height: 100%;
        width: 100%;
        flex: 3;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .left {
        flex: 2;
        height: 100%;
        width: 100%;
    }
    
    .leftContent {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: left;
        justify-content: space-evenly;
        flex-direction: column;
        background-color: white;
        border: 1px solid black;
        border-radius: var(--border-radius);
    }
    
    .leftContent h1 {
        font-size: 50px;
        margin-left: 50px;
    }
    
    .contact {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 18%;
    }
    
    .contact button {
        width: 140px;
        height: 50px;
        background-color: black;
        color: white;
        text-decoration: none;
        border-radius: var(--border-radius);
        cursor: pointer;
        box-shadow: 5px 15px 25px black;
    }
    
    .heroImg {
        position: relative;
        bottom: 725px;
        left: 42%;
        height: 725px;
        width: 705px;
    }
    
    .right {
        flex: 1;
        background-color: white;
        height: 100%;
        width: 100%;
        border-radius: var(--border-radius);
        overflow: hidden;
        border: 1px solid black;
    
    }
    
    .rightContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .grid {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
        margin-left: 25%;
        /* grid-template-columns: repeat(4, minmax(25%, auto)); */
        /* width: var(--max-width); */
        /* max-width: 100%; */
    }
    
    .card {
        /* padding: 1rem 1.2rem; */
        border-radius: var(--border-radius);
        background: rgba(var(--card-rgb), 0);
        border: 1px solid rgba(var(--card-border-rgb), 0);
        transition: background 200ms, border 200ms;
    }
    
    .card span {
        display: inline-block;
        transition: transform 200ms;
    }
    
    .card h2 {
        font-weight: 400;
        margin-bottom: 0.7rem;
        font-size: 1rem;
    }
    
    .card p {
        margin: 0;
        opacity: 0.6;
        font-size: 0.8rem;
        line-height: 1.5;
        max-width: 30ch;
    }
}
@media (max-width: 420px){
    .hero {
        height: 65vh;
        width: 95vw;
        border: 1px solid black;
        background-color: black;
        border-radius: var(--border-radius);
        margin-top: -55px;
        z-index: 1;
        overflow: hidden;
    
    }
    .heroImg {
        position: relative;
        bottom: 320px;
        left: -2.5%;
        height: 320px;
        width: 250px;
    }
}
@media (min-width: 300px) and (max-width: 420px){
    .hero {
        height: 65vh;
        width: 95vw;
        border: 1px solid black;
        background-color: black;
        border-radius: var(--border-radius);
        margin-top: -55px;
        z-index: 1;
        overflow: hidden;
    
    }
    .heroImg {
        position: relative;
        bottom: 300px;
        left: -2.5%;
        height: 300px;
        width: 220px;
    }
    .left {
        flex: 1;
        height: 40%;
        width: 100%;
    }
    
    .leftContent {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: left;
        justify-content: space-evenly;
        flex-direction: column;
        background-color: white;
        border: 1px solid black;
        border-radius: var(--border-radius);
    }
    
    .leftContent h1 {
        font-size: 30px;
        margin-left: 260px;
        margin-bottom: -30px;
        margin-top: -20px;
    }
    
    .contact {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 28%;
    }
    
    .contact button {
        width: 90px;
        height: 50px;
        background-color: black;
        color: white;
        text-decoration: none;
        border-radius: var(--border-radius);
        cursor: pointer;
        box-shadow: 5px 15px 25px black;
        margin-bottom: 50px;
        font-size: 9px;
        font-weight: bold;
        margin-left: 500px;
    }
    .right {
        flex: 1;
        background-color: white;
        height: 100%;
        width: 100%;
        border-radius: var(--border-radius);
        overflow: hidden;
        border: 1px solid black;
    
    }
    
    .rightContainer {
        display: flex;
        flex-direction: column;
        width: 459px;
        height: 100%;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .grid {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
        margin-left: 25%;
        /* grid-template-columns: repeat(4, minmax(25%, auto)); */
        /* width: var(--max-width); */
        /* max-width: 100%; */
    }
    
    .card {
        /* padding: 1rem 1.2rem; */
        border-radius: var(--border-radius);
        background: rgba(var(--card-rgb), 0);
        border: 1px solid rgba(var(--card-border-rgb), 0);
        transition: background 200ms, border 200ms;
    }
    
    .card span {
        display: inline-block;
        transition: transform 200ms;
    }
    
    .card h2 {
        font-weight: 400;
        margin-bottom: 0.4rem;
        font-size: .8rem;
    }
    
    .card p {
        margin: 0;
        opacity: 0.6;
        font-size: 0.6rem;
        line-height: 1.5;
        max-width: 30ch;
    }
}
@media (max-width: 380px){
    
    .leftContent h1 {
        font-size: 20px;
        margin-right: 20px;
        
    }
    .contact button {
        width: 80px;
        height: 40px;
        box-shadow: 5px 15px 25px black;
        font-size: 8px;
        font-weight: bold;
        
    }
    .hero {
        height: 75vh;
        width: 95vw;
        border: 1px solid black;
        background-color: black;
        border-radius: var(--border-radius);
        margin-top: -55px;
        z-index: 1;
        overflow: hidden;
    
    }
    .grid {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
        margin-left: 25%;
    }
    
    .card {
        border-radius: var(--border-radius);
        background: rgba(var(--card-rgb), 0);
        border: 1px solid rgba(var(--card-border-rgb), 0);
        transition: background 200ms, border 200ms;
    }
    
    .card span {
        display: inline-block;
        transition: transform 200ms;
    }
    
    .card h2 {
        font-weight: 400;
        margin-bottom: 0.7rem;
        font-size: 10px;
    }
    
    .card p {
        margin: 0;
        opacity: 0.6;
        font-size: 8px;
        line-height: 1.5;
        max-width: 30ch;
    }
    

}
@media (max-width: 280px) {
    
    .leftContent h1 {
        display: none;
    }
    
    .contact button {
        display: none;
    }
    
    .hero {
        height: 30vh;
        width: 90vw;
        border: 1px solid black;
        background-color: black;
        border-radius: var(--border-radius);
        margin-top: -50px;
        z-index: 1;
        overflow: hidden;
    }
    
    .grid {
        display: none;
    }
    
    .right{
        display: none;
    }
    .card{
        display: none;
    }
    .heroImg {
        position: relative;
        bottom: 240px;
        left: -2.5%;
        height: 240px;
        width: 260px;
    }
   
}
@media only screen and (min-width: 702px) and (max-width: 768px) {
    .hero {
        height: 60vh;
        width: 95vw;
        min-height: 100vh;
        margin-top: -30%;
        border-radius: 0;
        border-radius: var(--border-radius);
        margin-bottom: -20%;
    }    
    .container {
        height: 100%;
        width: 100%;
    }
    
    .wrapper {
        flex-direction: row;
        justify-content: center;
    }
    
    .left {
        flex: 1;
        height: 65%;
        width: 100%;
    }
    
    .leftContent {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: left;
        justify-content: space-evenly;
        flex-direction: column;
        background-color: white;
        border: 1px solid black;
        border-radius: var(--border-radius);
    }
    
    .leftContent h1 {
        font-size: 27px;
        margin-left: 75%;
        margin-bottom: -28%;
        margin-top: -20%;
    }
    
    .contact {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 2%;
    }
    
    .contact button {
        width: 90px;
        height: 50px;
        background-color: black;
        color: white;
        text-decoration: none;
        border-radius: var(--border-radius);
        cursor: pointer;
        box-shadow: 5px 15px 25px black;
        font-size: 9px;
        font-weight: bold;
        margin-left: 190%;
        margin-bottom: 90%;
    }
    
    .heroImg {
        position: relative;
        bottom: 665px;
        left: -30%;
        border-radius: var(--border-radius);
        height: 100%;
    }
    
    .right {
        flex: 1;
        background-color: white;
        height: 65%;
        width: 100%;
        border-radius: var(--border-radius);
        overflow: hidden;
        border: 1px solid black;
    
    }
    
    .rightContainer {
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 95%;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 55px;
    }
    
    .grid {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
        margin-left: 25%;
    }
    
    .card {
        border-radius: var(--border-radius);
        background: rgba(var(--card-rgb), 0);
        border: 1px solid rgba(var(--card-border-rgb), 0);
        transition: background 200ms, border 200ms;
    }
    
    .card span {
        display: inline-block;
        transition: transform 200ms;
    }
    
    .card h2 {
        font-weight: 400;
        margin-bottom: 0.7rem;
        font-size: .8rem;
        width: 95%;
    }
    
    .card p {
        margin: 0;
        opacity: 0.6;
        font-size: 0.6rem;
        line-height: 1.5;
        max-width: 30ch;
        width: 70%;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1020px) {
    .hero {
        height: 60vh;
        width: 95vw;
        min-height: 100vh;
        margin-top: -30%;
        border-radius: 0;
        border-radius: var(--border-radius);
        margin-bottom: -20%;
    }    
    .container {
        height: 100%;
        width: 100%;
    }
    
    .wrapper {
        flex-direction: row;
        justify-content: center;
    }
    
    .left {
        flex: 1;
        height: 65%;
        width: 100%;
    }
    
    .leftContent {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: left;
        justify-content: space-evenly;
        flex-direction: column;
        background-color: white;
        border: 1px solid black;
        border-radius: var(--border-radius);
    }
    
    .leftContent h1 {
        font-size: 27px;
        margin-left: 75%;
        margin-bottom: -28%;
        margin-top: -20%;
    }
    
    .contact {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 2%;
    }
    
    .contact button {
        width: 90px;
        height: 50px;
        background-color: black;
        color: white;
        text-decoration: none;
        border-radius: var(--border-radius);
        cursor: pointer;
        box-shadow: 5px 15px 25px black;
        font-size: 9px;
        font-weight: bold;
        margin-left: 190%;
        margin-bottom: 90%;
    }
    
    .heroImg {
        position: relative;
        bottom: 766px;
        left: -30%;
        border-radius: var(--border-radius);
        height: 100%;
    }
    
    .right {
        flex: 1;
        background-color: white;
        height: 65%;
        width: 100%;
        border-radius: var(--border-radius);
        overflow: hidden;
        border: 1px solid black;
    
    }
    
    .rightContainer {
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 95%;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 55px;
    }
    
    .grid {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
        margin-left: 25%;
    }
    
    .card {
        border-radius: var(--border-radius);
        background: rgba(var(--card-rgb), 0);
        border: 1px solid rgba(var(--card-border-rgb), 0);
        transition: background 200ms, border 200ms;
    }
    
    .card span {
        display: inline-block;
        transition: transform 200ms;
    }
    
    .card h2 {
        font-weight: 400;
        margin-bottom: 0.7rem;
        font-size: .8rem;
        width: 95%;
    }
    
    .card p {
        margin: 0;
        opacity: 0.6;
        font-size: 0.6rem;
        line-height: 1.5;
        max-width: 30ch;
        width: 70%;
    }
  }
  @media screen and (min-width: 890px) and (max-width:913px){
      .heroImg{
          bottom: 890px;
      }
  }