.admin{
    width: auto;  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem;
}
.spacer{
    height: 20dvh;
    width: 100dvw;
    z-index: -200;
  }
  .gridPattern{
    height: 20dvh;
    width: 100dvw;
    /* background-color: #f5f5f4;  fill-blue-900, assuming blue-900 is #3b82f6 */
    color: #1e293b; /* stroke-neutral-950/5, assuming neutral-950 is #1e293b with 5% opacity */
    background-image: linear-gradient(to right, #991b1b, white, #10275E); /* from-red-700, via-white, to-neutral-50 */
    mask-image: linear-gradient(to right, #991b1b, white, #10275E); /* from-red-700, via-white, to-neutral-50 */
    
  }
  .contactWidget{
    background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 1150px;
  overflow-x: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 95dvw;
  height: auto;
  }
  .contactSubContainer{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 2%;
  }
  .contactSubTable{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100%;
    padding-top: 5%;
    /* padding-bottom: 2%; */
  }
.tableRow{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: -5%;
}
.thread th {
    padding: 15px;
    width: 215px;
    border: 1px solid #10275E;
    text-align: center;
    /* margin-top: -5%; */
   
}
.tableRow2 {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    

}
.tableBody{
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.tableRow2 td {
    color: #555;
    text-align: center;
    min-width: 185px;
    gap: 5%;
    font-size: 15px;
    padding-left: 2%;
    padding-bottom: 5%;
    margin-bottom: 2%;
    
    
}
.contactSubWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2%;
    padding: 2%;
    border-radius: 4px;
    height: 100%;
    flex: 3;

}
.contactSubCard{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
    padding: 2%;
    border-radius: 4px;
    height: 80%;
    /* overflow: scroll; */
    flex: 2;
}
.details{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
    height: auto;

}
.details:open  summary{
    height: auto;

}
.details summary {
    padding: 10px;
    width: 100%;
    border: 1px solid #10275E;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: #10275E;
    color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    /* padding-bottom: 5%;
    padding-top: 5%; */
}
.thread{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
   
    /* border-radius: var(--border-radius); */
}
.deleteBtn{
    background-color: #991b1b;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px;
    cursor: pointer;
    /* margin-right: -55px; */
}
.deleteBtnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    margin-top: 5%;
}
.deleteBtnContainerT{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    height: 100%;
    width: 100%;
     padding-left: 2%;
   padding-bottom: 2%;
}


.pagination {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    padding-top: 2%;
    flex: 1;
  }
.pagination button {
    background-color: #0070f3;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination span {
    font-size: 16px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -3.5%;
  }
  .contactSubTable td .tooltip {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  
  .contactSubTable td .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    margin-left: -100px; 
    opacity: 0;
    transition: opacity 0.3s;
    height: max-content;
    min-height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  
  .contactSubTable td .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  .logoutBtn{
    background-color: #991b1b;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 20px;
  }
  .lowerBtn{
    margin-bottom: 20%;
  }