  .container {
    display: grid;
    grid-template-rows: 80px auto 120px;
    grid-template-columns: 15% auto;
    grid-template-areas:
      "header header"
      "sidebar main"
      "footer footer";
    min-height: 100dvh;
    width: 100dvw;
  }
  
  .header {
    grid-area: header;
    background: rgb(16, 39, 94);
    color: #fff;
    padding: 1rem;
    height: 80px;
    z-index: 10;
    width: 100%;
    position: fixed;
    top: 0;
  }
  
  .footer {
    grid-area: footer;
    background:  rgb(16, 39, 94);
    color: #fff;
    padding: 1rem;
    height: 80px;
    z-index: 10;
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  
  .sidebar {
    grid-area: sidebar;
    background: red;
    color: #fff;
    padding: 1rem;
    height: calc(100dvh - 160px);
    z-index: 1;
    position: fixed;
    top: 80px;
    bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    z-index: 9;
  }
  
  .sidebarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
  }
  
  .sidebarWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  
  .sidebarTop,
  .sidebarCenter,
  .sidebarBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  
  .sidebarTop {
    height: 05%;
  }
  
  .sidebarCenter {
    height: 85%;
  }
  
  .sidebarBottom {
    height: 10%;
    margin-bottom: 10%;
  }
  
  .nav {
    width: 100%;
  }
  
  .navMenu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  .navItem {
    width: 100%;
  }
  
  .navItem a {
    display: block;
    width: 100%;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background: rgb(16, 39, 94);
    border-bottom: 1px solid  #c82333;
    transition: background 0.3s;
    border-radius: var(--border-radius);
    margin-bottom: 10%;
  }
  
  .navItem a:hover {
    background: #c82333;
    border: 2px solid rgb(16, 39, 94);
    transition: ease-in-out 0.3s;
  }
  
  .main {
    grid-area: main;
    min-height: calc(100dvh - 40px);
    height: auto;
    max-width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    
  }
  
  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    flex: 1;
  }
  
  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    flex: 3;
  }
  .logoutBtn {
    padding: 1rem 4rem;
    border: none;
    border-radius: 4px;
    background-color:  rgb(16, 39, 94);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: var(--border-radius);
  }
  
  .logoutBtn:hover {
    background-color: #c82333;
    border: 2px solid rgb(16, 39, 94);
    transition: ease-in-out 0.3s;
  }
  