.post{
  width: 100dvw;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 3rem;
  min-height: 100dvh;
  height: auto;
  background-color: #E2E8F0;
  z-index: -5;
  
}
.postContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 5%;
}
.postWrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}
.intro{
    height: auto;
    width: 100dvw;
    margin-bottom: 2%;
}
.introSection{
    height: 100%;
    width: 100dvw;
    
}
.introContainer{
    height: 100%;
    width: 100%;
}
.introWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
}
.introContent{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.introContentContainer{
    height: auto;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.introContentWrapper{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex: 3;
    width: 95%;
    height: auto;
    
}
.introContentleft{
    flex: 1;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.introLeftContact{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: var(--border-radius);
    margin-top: 15%;
    width: 100%;
    box-shadow: -15px -10px 45px rgba(0, 0, 0, 0.43); 
    
}

.rightCard{
    height: auto;
    width: 100%;
    background-color:rgb(16, 39, 94);
    border-radius: var(--border-radius);
    border-top: 28px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 4%;
  }
  .cardWrapper{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  
  }
  .cardContent{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .cardContent h3{
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: left;
    padding-bottom: 2%;
    margin-top: 1%;
    margin-left: -30px;
  }
  .cardContent ul{
    list-style: none;
    padding-left: 0;
    padding-bottom: 4%;
  }
  .cardContent li{
    color: white;
    font-size: 1rem;
    line-height: 2em;
    font-weight: 400;
    text-align: left;
    list-style: none;
    padding-left: 0;
    padding-bottom: 1%;
  }
  .cardContent span{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .cardContent button, .cardBtn {
    height: 40px;
    width: 120px;
    border-radius: 5px;
    border: none;
    background-color: red;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer; /* Ensure cursor is set to pointer */
}
.imageContainer{
    height: auto;
    width: auto;
   
}
.blogImg{
    z-index: 5;
    box-shadow: -10px 10px 25px rgba(0, 0, 0, 0.43);
    margin-top: -50%;
    border-radius: var(--border-radius);
   
}
.introContentRight{
    flex: 2;
    height: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border: 2px solid white;
   margin-left: -2%;
   padding-top: 2%;
   padding-bottom: 4%;
   background-color: rgb(16, 39, 94);
   z-index: -4;
   box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.43);
   border-radius: var(--border-radius);
}
.introContentRight h1{
    color: white;
    text-align: center;
    padding-bottom: 1%;
    width: 90%;
    font-family: 'Lato', sans-serif;
}
.introContentRight p{
    width: 80%;
    color: #fff;
    line-height: 2.8cap;
    font-family: 'Lato', sans-serif;
}

.blogArticle{
    margin-top: 3%;
    height: auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
    font-family: 'Lato', sans-serif;
    
   
}
.blogArticle h2{
    margin-bottom: 2%;
    color: #fff;
    text-align: left;
}
.blogArticle p{
    width: 100%;
    margin-bottom: 2%;
}
@media only screen and (min-width:1641px){
    .blogImg{
        margin-top: -10%;
    }
}
@media only screen and (max-width:1100px){
  .post{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
    margin-bottom: -5%;
    
  }
  .introContentWrapper{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .introContentleft{
    margin-top: 5%;
    padding: 10px 0px;
  }
  .blogImg{
    margin-top: 5%;
    height: auto;
  }
  .introLeftContact{
    margin-top: 10px;
    margin-bottom: 10px;
  }

}
@media only screen and (max-width:700px){
.post{
  padding: 3rem;
  margin-bottom: -5%;
}
.imageContentLeft{
  margin: 2px 10px
}

.rightCard{
  padding: 10px 15px;
}
.blogImg{
  width: 100dvw;
}
.introLeftContact{
  border: none;
  box-shadow: none;
  padding: 10px 9px;
}
.introLeftContact h3{
  font-size: 1.2rem;
}
.rightCard{
  padding: 20px 5px
}
.introContentRight{
  width: 99%;
  padding: 0px;
}
.introContentRight h1{
  font-size: large;
  margin-top: 5%;
  margin-bottom: -10px;
}
.blogArticle{
  width: 99%;
  padding: 10px;
}
.blogArticle p{
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: center;
  width: 99%;
  padding: 0px;
}
.blogArticle h2{
  font-size: large;
  margin-top: 25px;
  margin-bottom: 10px;
  font-weight: bolder;
  text-align: center;
  text-decoration: underline;
}
}