.contact {
    height: 115vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(16, 39, 94);
    margin-bottom: -5.3%;
    margin-top: -3.6%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;
    width: 95vw;
    margin-bottom: -20px;

}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 4;
    height: 100%;
    width: 100%;
    border: 2px solid black;
    background-color: white;
    border-radius: 15px;
    margin-top: 40px;
    overflow: hidden;
}

.left {
    flex: 1.5;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.leftContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.leftWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    
  
}

.right {
    flex: 2.5;
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
  filter: grayscale(70%);
  z-index: 1;
}
@media (max-width: 821px) {
  .contact {
      width: 100dvw;
      height: 140dvh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(16, 39, 94);
  }
  .container{
    width: 100%;
    height: 100%;
  }
  .wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .logo{
    height: 650px;
    width: 700px;
  }

}
@media (max-width: 769px) {
  .logo{
    height: 550px;
    width: 700px;
  }
}
@media (max-width: 913px){
  .contact {
    width: 100dvw;
    height: 140dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(16, 39, 94);
}
.container{
  width: 100%;
  height: 100%;
}
.wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.logo{
  height: 650px;
  width: 700px;
}

}
@media (max-width: 1025px){
  .contact {
    width: 100dvw;
    height: 180dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(16, 39, 94);
    margin-bottom: -80px;
  }
  
  
}
@media (max-width: 700px) {
    .contact {
        width: 100dvw;
        height: 140dvh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(16, 39, 94);
        margin-top: 100px;
        margin-bottom: -20px;
    }
    
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 4;
        height: 100%;
        width: 100%;
        background-color: white;
        border-radius: 15px;
       
    }
    
    .left {
        flex: 2;
        z-index: 2;
        margin-bottom: -13%;
        
    }
    
    .right {
        flex: 2;
        background-color: white;
        z-index: 1;
        width: 95dvw;
        box-shadow: none;
        margin-left: -10px;
    }
    .rightContainer{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
  }
  .top{
    margin-bottom: -10rem;
  }
    .logo{
        height: 350px;
        width: 500px;
        margin-top: 15rem;
    } 
}
@media (max-width: 361px){
  .contact{
    height: 140vh;
    margin-top: -100px;
    overflow: hidden;
  }
  .wrapper{
    flex-direction: column;
    margin-top: 30px;
    overflow-y: scroll;
  }
  .left{
    flex: 1;
    margin-bottom: -20%;
  }
  .right{
    flex: 1;
    margin-top: 10px;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
  }
  .logo{
    height: 350px;
    width: 500px;
    margin-top: 30dvh;
  }
  .bottom{
    height: 70dvh;
  }
}
@media (max-width: 415px){
  .contact{
    height: 200vh;
    margin-top: -110px;
    overflow: scroll;
  }
  .logo{
    height: 650px;
    width: 500px;
    margin-top: -20px;
  }
  .right{
    height: 120vh;
  }
}
@media (max-width: 378px){
  .contact {
    height: 140vh;
    margin-top: -80px;
    overflow: hidden;
}

.wrapper {
    flex-direction: column;
    margin-top: 30px;
}

.left {
    flex: 1;
    margin-bottom: -20%;
}

.right {
    flex: 1;
    margin-top: 30px;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
  margin-top: 50px;
  height: 350px;
  width: 500px;
  margin-bottom: 35px;
}
.top{
  margin-bottom: .1rem;
}
}

@media (max-width: 390px) {
    .contact {
        height: 160vh;
        margin-top: -100px;
        overflow: hidden;
    }
    
    .wrapper {
        flex-direction: column;
        margin-top: 30px;
        overflow: scroll;
    }
    
    .left {
        flex: 1;
        margin-bottom: -20%;
    }
    
    .right {
        flex: 1;
        margin-top: 30px;
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    
    .logo {
        height: 550px;
        width: 500px;
        margin-top: 30dvh;
    }
}

  @media (max-width:540px) and (min-width: 530px){
    .contact {
      width: 100dvw;
      height: 140dvh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(16, 39, 94);
      margin-top: -80px;
      
  }
  
  .container {
      display: flex;
      align-items: center;
      justify-content: center;
  
  }
  
  .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 4;
      height: 100%;
      width: 100%;
      background-color: white;
      border-radius: 15px;
     
  }
  
  .left {
      flex: 2;
      z-index: 2;
      margin-bottom: -13%;
      
  }
  
  .right {
      flex: 2;
      background-color: white;
      z-index: 1;
      width: 95dvw;
      box-shadow: none;
      margin-left: -10px;
      
  }
  .rightContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    
}
.top{
  margin-bottom: -1rem;
}
  .logo{
      display: none;
  } 
   
  
  }
  
  @media screen and (min-width: 1900px) {
    .logo{
      height: 950px;
      width: 700px;
      overflow: hidden;
    }
    .left{
      overflow: hidden;
    }
  }
  @media  (max-width: 281px){
    .logo{
      display: none;
    }
  }