.contact {
  width: 100vw;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
  margin-bottom: -5.2%;
    
}
.spacer{
  height: 20vh;
  width: 100vw;
  z-index: -200;
}
.gridPattern{
  height: 20vh;
  width: 100vw;
  /* background-color: #f5f5f4;  fill-blue-900, assuming blue-900 is #3b82f6 */
  color: #1e293b; /* stroke-neutral-950/5, assuming neutral-950 is #1e293b with 5% opacity */
  background-image: linear-gradient(to right, #991b1b, white, #10275E); /* from-red-700, via-white, to-neutral-50 */
  mask-image: linear-gradient(to right, #991b1b, white, #10275E); /* from-red-700, via-white, to-neutral-50 */
  
}

.hero{
  width: 100vw;
  height: 35vw;
}
.heroLink{
  height: 40px;
  width: 160px;
  border-radius: 5px;
  border: none;
  background-color: red;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  font-weight: 900;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.23); 
}
.heroSection{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0.23)),url(https://edycymyofrowahspzzpg.supabase.co/storage/v1/object/public/Images/public/rig112211.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 100%;
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.43); 
}
.heroContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.heroWrapper{
  width: 90%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.heroWrapper span {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 60px;
  width: 400px;
  margin-top: 2%;
  margin-left: -2%;
}
.heroWrapper h1{
  font-size: 72px;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  line-height: 1.2em;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(25%, auto));
  grid-gap: 1.5rem;
  width: 92%;
  max-width: 100%;
  height: 100%;
  }
  
  .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-color: rgb(16, 39, 94);
  border-radius: var(--border-radius);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.23)),url(https://edycymyofrowahspzzpg.supabase.co/storage/v1/object/public/Images/public/att.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  }
  .card h2{
  text-align: center;
  width: 97%;
  color: white;
  margin-bottom: -2%;
  font-size: 1.9rem;
  text-shadow: 2px 2px 2px black;
  }
  .card p{
  font-size: 18px;
  width: 85%;
  text-align: center;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px black;
  }
  .officeContacts{
    width: 100vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5%;
    margin-bottom: -3%;
  }
  .officeContactsContainer{
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }


  .formSection{
    width: 95vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -4%;
    margin-bottom: -5%;
  }
  .formSectionContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .formSectionWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 3;
  }
  .leftForm{
    width: 100%;
    height: 100%;
    flex: 1.5;
    border: 1px solid black;
  }
  .rightForm{
    width: 100%;
    height: 100%;
    flex: 1.5;
  }
  /* FORM SSECTION */
  .form{
    height: 60vh;
    width: 45vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.43);
    border-radius: var(--border-radius);
}
.form h1{
    font-size: 2rem;
    font-weight: 900;
    color: black;
    letter-spacing: 2px;
    line-height: 1.2em;
    padding-top: 2%;
}
.formContainer{
    height: 90%;
    width: 100%;
}
.formWrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 3;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 2%;
    
}
.formTop{
    flex: 1;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.formCenter{
    flex: .5;
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.formBottom{
    flex: 1.5;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.formInput{
    width: 60%;
    height: 40px;
    cursor: pointer;
    text-align: center;
    margin-right: 2px;
    border: none;
    border-bottom: 1px solid #ccc; /* Add a bottom border */
    padding: 10px 0;
    filter: drop-shadow(13px 22px 5px rgba(0, 0, 0, 0.23));
}


.contactMessage{
    height: 90%;
    width: 90%;
    border: none;
    cursor: pointer;
    text-align: center;
    margin: 2rem;
    border: none;
    border-bottom: 1px solid #ccc; /* Add a bottom border */
    padding: 10px 0;
    filter: drop-shadow(13px 22px 5px rgba(0, 0, 0, 0.23));
}
.formSubmit{
    width: 30%;
    height: 60px;
    cursor: pointer;
    color: white;
    border-radius: 15px;
    border: .5px solid black;
    background-color: #10275E;
    
    
}


@media screen and (max-width: 600px) {
  .contact{
    min-height: auto;
  }
  .hero{
    height: 40dvh;
  }
  /* 
  } */
  .heroWrapper span{
    margin-top: 4%;
    margin-left: -7%;
   }
  .heroLink{
    height: 40px;
    width: 160px;
    font-size: 1rem;
  }
  

  .formSection{
    height: auto;
    width: 100dvw;
  }
  .formSectionWrapper{
    flex-direction: column;
    width: 100%;
  }
  .form{
    width: 90vw;
    height: 100%;
    margin-bottom: 5dvh;
    padding-bottom: 2%;
  }
  .form h1{
    margin-bottom: 8%;
    font-size: large;
  }
  .formInput{
    margin-bottom: 2%;
  }
  .formTop{
    margin-bottom: 2%;
  }
  .formSubmit{
    width: 70%;
    margin-top: 2%;
  }
  .contactMessage{
    width: 90%;
    height: 10dvh;
  }
  .spacer{
    height: 10vh;
   
  }
  .grid{
    grid-template-columns: repeat(1, minmax(25%, auto));
    width: 85%;
  }
  .card{
    padding-bottom: 2%;
  }
  .card h2{ 
    font-size: x-large;
    margin-bottom: 3%;
    margin-top: 4%;
  }
  .card p{
    font-size: medium;
  }
  .email{
    font-size: small;
  }
  .officeContacts{
    height: auto;
    margin-top: -5%;
  }
}
@media screen and (max-width: 300px){
  .heroLink{
    height: 40px;
    width: 110px;
    font-size: medium;
  }
  .heroWrapper span{
    margin-top: 7%;
    margin-left: -9%;
    width: 300px;
   }
  .hero h1{
    font-size: x-large;
  }
}
@media (min-width: 701px) and (max-width: 1120px) {
  .contact{
    min-height: auto;
    margin-bottom: -13vh;
  }
  .hero{
    height: 50dvh;
  }
  .heroWrapper span{
    margin-top: 4%;
    width: 100%;
  }
  .heroLink{
    height: 60px;
    width: 45%;
    font-size: 1.5rem;
  }
  .hero h1{
    font-size: 48px;
  }
  .grid{
    grid-template-columns: repeat(2, minmax(25%, auto));
    width: 85%;
  }
  .card{
    padding-bottom: 2%;
  }
  .card h2{ 
    font-size: x-large;
    margin-bottom: 3%;
    margin-top: 4%;
  }
  .card p{
    font-size: medium;
  }
  .email{
    font-size: small;
  }
  .officeContacts{
    height: auto;
    margin-top: -5%;
  }
  .formSection{
    height: auto;
    width: 100dvw;
  }
  .formWrapper{
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .form h1{
    margin-top:  5%;
  }
  .formSubmit{
    width: 70%;
    margin-top: 2%;
  }
}