.dashboard {
  display: grid;
  grid-template-columns: auto 1fr;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #E2E8F0;
  padding: 0;
}

.aside {
  grid-column: 1;
  background-color: #f3f4f6; /* Light gray background for sidebar */
  width: 20rem; /* Sidebar width */
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed; /* Keeps sidebar fixed and flush with the left */
  top: 0;
  left: 0;
  padding: 0; /* Remove padding to align flush with the page edge */
}

.header {
  grid-column: 2; /* Starts after the sidebar */
  grid-row: 1;
  padding: 24px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  width: calc(100vw - 20rem); /* Adjusts to viewport minus sidebar width */
  position: fixed;
  top: 0;
  left: 20rem;
  z-index: 1;
}

/* Main Content */
.main {
  grid-column: 2; /* Starts after the sidebar */
  grid-row: 2;
  margin-top: 72px; /* Offset by header height */
  padding: 24px;
  overflow-y: auto;
  height: calc(100vh - 72px); /* Adjusts to viewport height minus header */
}

/* Section */
.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* background-color: #f8f9fa; */
  padding: 24px;
  /* border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); */
  width: calc(100vw - 25rem);
  margin-left: 12rem
}
.nav {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.nav a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  color: #333;
  text-decoration: none;
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%; /* Full width for links */
}

.nav a:hover {
  background-color: #e6f7ff; /* Light blue background on hover */
  color: #007bff; /* Change text color on hover */
}

.tooltipProvider {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.icon {
  width: 24px;
  height: 24px;
}

.iconSpan {
  font-size: 14px;
  color: #666;
}

