.footer {
    height: auto;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;


}

.container {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: 4;
    margin-top: 2%;

}

.top {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    flex: 4;
    margin-bottom: 5vh;
    color: white;
    padding-top: 40px;;
}

.left {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex: 1;
    margin-left: 14px;
}

.locaton {
    margin-right: 2px;
}

.phone {
    margin-right: 2px;
}

.center {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.center ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;


}

.center li {
    cursor: pointer;
    font-weight: bold;


}

.socialIcons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    color: white;
    font-size: 30px;
}

.image {
    height: 100px;
    width: 100px;
    border-radius: 80px;
    margin-top: 5px;
}

.bottom {
    flex: 1;
    color: gray;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 40px;
}

@media screen and (max-width:480px) and (min-width:390px) {
    .footer {
        height: 20vh;
        max-width: 480px;
        min-width: 390px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: flex-end;


    }

    .container {
        display: flex;
        align-items: baseline;
        justify-content: flex-end;
        width: 100%;
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex: 4;
        width: 100%;

    }

    .left {
        display: none;
    }

    .center {
        font-size: 12px;
    }

    .right {
        display: none;
    }

}

@media (max-width: 700px) {
    .footer {
        height: 30vh;
        margin-top: -45px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: flex-end;


    }

    .container {
        display: flex;
        align-items: baseline;
        justify-content: flex-end;
        width: 100%;
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex: 4;
        width: 100%;

    }

    .left {
        display: none;
    }

    .center {
        font-size: 12px;
    }

    .right {
        display: none;
    }

    .bottom {
        text-align: center;
    }
}

@media screen and (max-width: 281px) {
    .bottom {
        font-size: 10px;
    }

}

@media screen and (min-width: 701px) and (max-width: 1019px) {}

.left {
    display: none;
}

.right {
    display: none;
}


@media screen and (min-width: 1020px) and (max-width: 1025px) {
    .footer {
        height: 40vh;

    }

    .left {
        display: none;
    }

    .right {
        display: none;
    }
}