.hero {
    height: 75vh;
    width: 95vw;
    background-color: transparent;
    border-radius: var(--border-radius);
    margin-top: -55px;
    z-index: 1;
    overflow: hidden;
    display: flex; /* add display: flex to parent element */
    flex-direction: column; /* specify a flex direction */
    align-items: center; /* center child elements horizontally */
    -webkit-overflow-scrolling: touch; /* add this for smooth scrolling on mobile */

}

.container {
    height: 100%;
    width: 100%;
}

.wrapper {
    height: 100%;
    width: 100%;
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.left {
    flex: 2;
    height: 100%;
    width: 100%;
}

.leftContent {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: white;
    /* border: 1px solid black; */
    border-radius: var(--border-radius);
}

.leftContent h1 {
    font-size: 50px;
    margin-left: 30px;
    width: 20%;
    margin-top: -16%;
    text-shadow: 0px 14px 16px;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 28%;
    margin-top: -15%;
}

.contact button {
    width: 140px;
    height: 50px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    box-shadow: 5px 15px 25px black;
    margin-bottom: 20px;
    margin-left: -28px;
    margin-top: -20px;
}


 .heroImg {
    position: relative;
    bottom: 620px;
    left: 12%;
    border-radius: var(--border-radius);
    z-index: 1;
    
} 


.right {
    flex: 1;
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
    border: 1px solid black;
    z-index: 3;

}

.rightContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    margin-left: 25%;
    /* grid-template-columns: repeat(4, minmax(25%, auto)); */
    /* width: var(--max-width); */
    /* max-width: 100%; */
}

.card {
    /* padding: 1rem 1.2rem; */
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
}

.card span {
    display: inline-block;
    transition: transform 200ms;
}

.card h2 {
    font-weight: 400;
    margin-bottom: 0.7rem;
    font-size: 1rem;
}

.card p {
    margin: 0;
    opacity: 0.6;
    font-size: 0.8rem;
    line-height: 1.5;
    max-width: 30ch;
}

@media (hover: hover) and (pointer: fine) {
    .card:hover {
        background: rgba(var(--card-rgb), 0.1);
        border: 1px solid rgba(var(--card-border-rgb), 0.15);

    }

    .card:hover span {
        transform: translateX(4px);
    }
}

@media screen and (min-width: 1300px) {
    .hero {
        height: 75vh;
        width: 95vw;
        border: 1px solid black;
        background-color: black;
        border-radius: var(--border-radius);
        margin-top: -55px;
        z-index: 1;
        overflow: hidden;
    }

    .container {
        height: 100%;
        width: 100%;
    }
    
    .wrapper {
        height: 100%;
        width: 100%;
        flex: 3;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .left {
        flex: 2;
        height: 100%;
        width: 100%;
    }
    
    .leftContent {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: left;
        justify-content: space-evenly;
        flex-direction: column;
        background-color: white;
        border: 1px solid black;
        border-radius: var(--border-radius);
    }
    
    .leftContent h1 {
        font-size: 50px;
        margin-left: 40px;
    }
    
    .contact {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 24%;
    }
    
    .contact button {
        width: 140px;
        height: 50px;
        background-color: black;
        color: white;
        text-decoration: none;
        border-radius: var(--border-radius);
        cursor: pointer;
        box-shadow: 5px 15px 25px black;
    }
    
    .heroImg {
        position: relative;
        bottom: 745px;
        left: 11.7%;
        width: 915px;
        height: 745px;
    }
    
    .right {
        flex: 1;
        background-color: white;
        height: 100%;
        width: 100%;
        border-radius: var(--border-radius);
        overflow: hidden;
        border: 1px solid black;
    
    }
    
    .rightContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .grid {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
        margin-left: 25%;
        
    }
    
    .card {
        border-radius: var(--border-radius);
        background: rgba(var(--card-rgb), 0);
        border: 1px solid rgba(var(--card-border-rgb), 0);
        transition: background 200ms, border 200ms;
    }
    
    .card span {
        display: inline-block;
        transition: transform 200ms;
    }
    
    .card h2 {
        font-weight: 400;
        margin-bottom: 0.7rem;
        font-size: 1rem;
    }
    
    .card p {
        margin: 0;
        opacity: 0.6;
        font-size: 0.8rem;
        line-height: 1.5;
        max-width: 30ch;
    }
}

@media screen and (max-width: 700px) {

    .hero {
        height: 60vh;
        width: 95vw;
        min-height: 100vh;
        margin-top: 0;
        border-radius: 0;
        border-radius: var(--border-radius);
    }    
    .container {
        height: 100%;
        width: 100%;
    }
    
    .wrapper {
        flex-direction: column;
        justify-content: center;
    }
    
    .left {
        flex: 1;
        height: 40%;
        width: 100%;
    }
    
    .leftContent {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: left;
        justify-content: space-evenly;
        flex-direction: column;
        background-color: white;
        border: 1px solid black;
        border-radius: var(--border-radius);
    }
    
    .leftContent h1 {
        font-size: 27px;
        margin-left: 70%;
        margin-bottom: -28%;
        margin-top: -33%;
    }
    
    .contact {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 2%;
    }
    
    .contact button {
        width: 90px;
        height: 50px;
        background-color: black;
        color: white;
        text-decoration: none;
        border-radius: var(--border-radius);
        cursor: pointer;
        box-shadow: 5px 15px 25px black;
        font-size: 9px;
        font-weight: bold;
        margin-left: 145%;
        margin-bottom: 90%;
    }
    
    .heroImg {
        position: relative;
        bottom: 420px;
        left: -2.5%;
        height: 420px;
        width: 500px;
    }
    
    .right {
        flex: 1;
        background-color: white;
        height: 100%;
        width: 100%;
        border-radius: var(--border-radius);
        overflow: hidden;
        border: 1px solid black;
    
    }
    
    .rightContainer {
        display: flex;
        flex-direction: column;
        width: 559px;
        height: 100%;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .grid {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
        margin-left: 25%;
    }
    
    .card {
        border-radius: var(--border-radius);
        background: rgba(var(--card-rgb), 0);
        border: 1px solid rgba(var(--card-border-rgb), 0);
        transition: background 200ms, border 200ms;
    }
    
    .card span {
        display: inline-block;
        transition: transform 200ms;
    }
    
    .card h2 {
        font-weight: 400;
        margin-bottom: 0.7rem;
        font-size: .8rem;
    }
    
    .card p {
        margin: 0;
        opacity: 0.6;
        font-size: 0.6rem;
        line-height: 1.5;
        max-width: 30ch;
    }
}
@media (min-width: 1900px){
    .heroImg{
        bottom: 945px;
        left: 8.2%;
        width: 1115px;
        height: 945px;
    }
    .contact button {
        margin-left: -25%;
    }
}
@media (max-width: 380px){
    .heroImg {
        position: relative;
        bottom: 360px;
        left: -2.5%;
        height: 360px;
        width: 440px;
    }
    .leftContent h1 {
        font-size: 20px;
        
    }
    .contact button {
        width: 80px;
        height: 40px;
        box-shadow: 5px 15px 25px black;
        font-size: 8px;
        font-weight: bold;
        
    }
    

}
@media (max-width: 280px) {
    
    .leftContent h1 {
       display: none;
    }
    
    .contact button {
       display: none;
    }
    
    .hero {
        height: 20vh;
        width: 90vw;
        border: 1px solid black;
        background-color: black;
        border-radius: var(--border-radius);
        margin-top: -50px;
        z-index: 1;
        overflow: hidden;
    }
    
    .grid {
        display: none;
    }
    
    .right{
        display: none;
    }
    .card{
        display: none;
    }
    .heroImg {
        position: relative;
        bottom: 580px;
        left: -2.5%;
        height: 240px;
        width: 260px;
    }
   
}
@media only screen and (min-width: 769px) and (max-width: 1020px) {
    .hero {
        height: 60vh;
        width: 95vw;
        min-height: 100vh;
        margin-top: -30%;
        border-radius: 0;
        border-radius: var(--border-radius);
        margin-bottom: -20%;
    }    
    .container {
        height: 100%;
        width: 100%;
    }
    
    .wrapper {
        flex-direction: row;
        justify-content: center;
    }
    
    .left {
        flex: 1;
        height: 65%;
        width: 100%;
    }
    
    .leftContent {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: left;
        justify-content: space-evenly;
        flex-direction: column;
        background-color: white;
        border: 1px solid black;
        border-radius: var(--border-radius);
    }
    
    .leftContent h1 {
        font-size: 27px;
        margin-left: 70%;
        margin-bottom: -28%;
        margin-top: -20%;
    }
    
    .contact {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 2%;
    }
    
    .contact button {
        width: 90px;
        height: 50px;
        background-color: black;
        color: white;
        text-decoration: none;
        border-radius: var(--border-radius);
        cursor: pointer;
        box-shadow: 5px 15px 25px black;
        font-size: 9px;
        font-weight: bold;
        margin-left: 155%;
        margin-bottom: 90%;
    }
    
    .heroImg {
        position: relative;
        bottom: 420px;
        left: -.2%;
        height: 420px;
        width: 500px;
    }
    
    .right {
        flex: 1;
        background-color: white;
        height: 65%;
        width: 100%;
        border-radius: var(--border-radius);
        overflow: hidden;
        border: 1px solid black;
    
    }
    
    .rightContainer {
        display: flex;
        flex-direction: column;
        width: 210px;
        height: 95%;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 55px;
    }
    
    .grid {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
        margin-left: 25%;
    }
    
    .card {
        border-radius: var(--border-radius);
        background: rgba(var(--card-rgb), 0);
        border: 1px solid rgba(var(--card-border-rgb), 0);
        transition: background 200ms, border 200ms;
    }
    
    .card span {
        display: inline-block;
        transition: transform 200ms;
    }
    
    .card h2 {
        font-weight: 400;
        margin-bottom: 0.7rem;
        font-size: .8rem;
    }
    
    .card p {
        margin: 0;
        opacity: 0.6;
        font-size: 0.6rem;
        line-height: 1.5;
        max-width: 30ch;
    }

}
@media only screen and (min-width: 702px) and (max-width: 768px) {
    .hero {
        height: 60vh;
        width: 95vw;
        min-height: 100vh;
        margin-top: -40%;
        border-radius: 0;
        border-radius: var(--border-radius);
        margin-bottom: -20%;
    }    
    .container {
        height: 100%;
        width: 100%;
    }
    
    .wrapper {
        flex-direction: row;
        justify-content: center;
    }
    
    .left {
        flex: 1;
        height: 65%;
        width: 100%;
    }
    
    .leftContent {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: left;
        justify-content: space-evenly;
        flex-direction: column;
        background-color: white;
        border: 1px solid black;
        border-radius: var(--border-radius);
    }
    
    .leftContent h1 {
        font-size: 27px;
        margin-left: 70%;
        margin-bottom: -28%;
        margin-top: -20%;
    }
    
    .contact {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 2%;
    }
    
    .contact button {
        width: 90px;
        height: 50px;
        background-color: black;
        color: white;
        text-decoration: none;
        border-radius: var(--border-radius);
        cursor: pointer;
        box-shadow: 5px 15px 25px black;
        font-size: 9px;
        font-weight: bold;
        margin-left: 155%;
        margin-bottom: 90%;
    }
    
    .heroImg {
        position: relative;
        bottom: 420px;
        left: -.2%;
        height: 420px;
        width: 500px;
    }
    
    .right {
        flex: 1;
        background-color: white;
        height: 65%;
        width: 100%;
        border-radius: var(--border-radius);
        overflow: hidden;
        border: 1px solid black;
    
    }
    
    .rightContainer {
        display: flex;
        flex-direction: column;
        width: 210px;
        height: 95%;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 55px;
    }
    
    .grid {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
        margin-left: 25%;
    }
    
    .card {
        border-radius: var(--border-radius);
        background: rgba(var(--card-rgb), 0);
        border: 1px solid rgba(var(--card-border-rgb), 0);
        transition: background 200ms, border 200ms;
    }
    
    .card span {
        display: inline-block;
        transition: transform 200ms;
    }
    
    .card h2 {
        font-weight: 400;
        margin-bottom: 0.7rem;
        font-size: .8rem;
    }
    
    .card p {
        margin: 0;
        opacity: 0.6;
        font-size: 0.6rem;
        line-height: 1.5;
        max-width: 30ch;
    }
}
@media (max-width:540px) and (min-width: 530px){
    .heroImg {
        position: relative;
        bottom: 420px;
        left: -.2%;
        height: 420px;
        width: 500px;
    }
    .leftContent {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: left;
        justify-content: space-evenly;
        flex-direction: column;
        background-color: white;
        border: 1px solid black;
        border-radius: var(--border-radius);
    }
    
    .leftContent h1 {
        font-size: 27px;
        margin-left: 70%;
        margin-bottom: -15%;
        margin-top: -12%;
    }
    .contact button {
        margin-left: 160%;
        margin-bottom: 85%;
    }
}
@media only screen and (min-width: 1020px) and (max-width: 1025px) {
    .right {
        flex: 1;
        background-color: white;
        height: 100%;
        width: 100%;
        border-radius: var(--border-radius);
        overflow: hidden;
        border: 1px solid black;
    
    }
    
    .rightContainer {
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 95%;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 55px;
    }
    
    .grid {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
        margin-left: 25%;
    }
    
    .card {
        border-radius: var(--border-radius);
        background: rgba(var(--card-rgb), 0);
        border: 1px solid rgba(var(--card-border-rgb), 0);
        transition: background 200ms, border 200ms;
    }
    
    .card span {
        display: inline-block;
        transition: transform 200ms;
    }
    
    .card h2 {
        font-weight: 400;
        margin-bottom: 0.7rem;
        font-size: .8rem;
        width: 90%;
    }
    
    .card p {
        margin: 0;
        opacity: 0.6;
        font-size: 0.6rem;
        line-height: 1.5;
        max-width: 30ch;
        width: 70%;
    }
}