.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  /* margin-bottom: -20px; */
  background-color: white;
  /* background-color: rgb(16, 39, 94); */
  /* margin-bottom: -5.3%; */
  width: 100dvw;
}
/* SECTIONS */
.hero{
  overflow: hidden;
  z-index: 2; 
  display: flex;
  height: 66dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 6;
  box-shadow: 5px 15px 25px; 
  margin-top: -5%;
  
}
.info{
  width: 100vw;
}
.services{
  height: 50vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
  box-shadow: 5px -15px 25px; 
}
/* HERO SECTION */

.heroSection{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.23)),url(https://edycymyofrowahspzzpg.supabase.co/storage/v1/object/public/Images/public/trucks2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  box-shadow: 5px 15px 25px; 
}
.heroTitle{
  color: white;
}
.heroSubtitle{
  color: white;
}

.heroContainer{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 6;
  margin-bottom: -80%;
  
}
.heroWrapper{
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 3;
}
.heroLeft{
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.heroRight{
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroCenter{
  flex: 1;
  height: 50%;
  width: 100%;
}
.heroCenter h1{
  color: white;
  font-size: 2rem;
  font-weight: 600;
}
.heroCenter h2{
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
}
.heroContent{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;

}
.heroContent span{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.heroContent button{
  height: 40px;
  width: 160px;
  border-radius: 5px;
  border: none;
  background-color: #0088ff;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}
/* INFO SECTION */

.infoSection{
  height: 120vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
  color: black;
  /* box-shadow: 5px 15px 25px;  */
  margin-top: -10px;
  
}
.infoContainer{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  padding-bottom: 20px;
}
.infoWrapper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 3;
}
.infoTop{
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.infoTopContainer{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  /* padding-bottom: 20px; */
  margin-right: 5rem;
}
.infoCenterContainer{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  /* padding-bottom: 20px; */
  margin-left: 5rem;
}
.infoBottomContainer{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  /* padding-bottom: 20px; */
  margin-right: 5rem;
}
.infoCenter{
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

}
.infoBottom{
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.infoWrapper h4{
  font-size: 1.5rem;
  font-weight: 600;
  width: 80%;
  padding-top: 40px;
  margin-bottom: 20px;
}
.infoWrapper p {
  font-size: 1rem;
  width: 80%;
}
/*SERVICES SECTION */

.servicesSection{
  height: 50vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
  color: white;
  box-shadow: 5px 15px 25px; 
  
  
}
.servicesContainer{
  width: 95%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 15px 25px black; 
  border-radius: var(--border-radius);
}
.servicesWrapper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 3;
}
.servicesWrapper h3{
  font-size: 1.8rem;
}
.servicesLeft{
  flex: 1;
  height: 100%;
  width: 100%;
}
.serviceLeftContainer{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.serviceLeftWrapper{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 2;
}
.serviceLeftTop{
  flex: 1;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.23)),url(https://edycymyofrowahspzzpg.supabase.co/storage/v1/object/public/Images/public/galleryImages/gal12.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.serviceLeftBottom{
  flex: 1;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.23)),url(https://edycymyofrowahspzzpg.supabase.co/storage/v1/object/public/Images/public/galleryImages/gal12.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.servicesCenter{
  flex: 1;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.23)),url(https://edycymyofrowahspzzpg.supabase.co/storage/v1/object/public/Images/public/ttyy.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.servicesRight{
  flex: 1;
  height: 100%;
  width: 100%;
}
.serviceRightContainer{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.serviceRightWrapper{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 2;
}
.serviceRightTop{
  flex: 1;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.23)),url(https://edycymyofrowahspzzpg.supabase.co/storage/v1/object/public/Images/public/slider1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.serviceRightBottom{
  flex: 1;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.23)),url(https://edycymyofrowahspzzpg.supabase.co/storage/v1/object/public/Images/public/slider1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.spacerSection{
  height: 50vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  /* margin-top: 2rem; */
  /* background-color: #f4f4f5; */
  
}
.gridPattern{
  position: relative;
  left: 0;
  right: 0;
   /* This corresponds to top-14 in Tailwind */
  
  height: 100%;
  width: 100%;
  background-color: #f5f5f4; /* fill-blue-900, assuming blue-900 is #3b82f6 */
  color: #1e293b; /* stroke-neutral-950/5, assuming neutral-950 is #1e293b with 5% opacity */
  background-image: linear-gradient(to right, #991b1b, white, #3b82f6); /* from-red-700, via-white, to-neutral-50 */
  mask-image: linear-gradient(to right, #991b1b, white, #3b82f6); /* from-red-700, via-white, to-neutral-50 */
  overflow: hidden;
  
}
.infoContainer{
  width: 95%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.infoWrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 3;
}


/* .grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}
.break1{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2px;
  width: 1000px;
  background-color: gray;
  box-shadow: 2px 4px 8px;
 margin-top: 15px;
  margin-bottom: 20px;
  border-radius: var(--border-radius);
}
.break2{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2px;
  width: 1000px;
  background-color: gray;
  box-shadow: 2px 4px 8px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: var(--border-radius);
} */
/* .socialG{
  
  width: 95vw;
  height: 30vh;
  border-radius: var(--border-radius);
} */

/* .center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}
.image{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 95vw;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo
 {
  position: relative;
  animation: pulse 5s infinite;
  border-radius: var(--border-radius);
  
}
.rig{
  position: relative;
}

.thirteen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  padding: 25px 10px;
  margin-left: 16px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0px 2px 8px -1px #0000001a;
}

.thirteen::before,
.thirteen::after {
  content: '';
  position: absolute;
  z-index: -1;
} */

/* Conic Gradient Animation */
/* .thirteen::before {
  animation: 6s rotate linear infinite;
  width: 200%;
  height: 200%;
  background: var(--tile-border);
} */

/* Inner Square */
/* .thirteen::after {
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(
    to bottom right,
    rgba(var(--tile-start-rgb), 1),
    rgba(var(--tile-end-rgb), 1)
  );
  background-clip: content-box;
} */

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    margin-bottom: -20px;
    background-color: rgb(16, 39, 94);
    margin-bottom: -5.3%;
    z-index: 2;
    
  }
  
  
  .grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(25%, auto));
    width: var(--max-width);
    max-width: 100%;
  }
  
  .card {
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
  }
  
  .card span {
    display: inline-block;
    transition: transform 200ms;
  }
  
  .card h2 {
    font-weight: 600;
    margin-bottom: 0.7rem;
  }
  
  .card p {
    margin: 0;
    opacity: 0.6;
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 30ch;
  }
  .break1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2px;
    width: 400px;
    background-color: gray;
    box-shadow: 2px 4px 8px;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: var(--border-radius);
  }
  .break2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2px;
    width: 400px;
    background-color: gray;
    box-shadow: 2px 4px 8px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: var(--border-radius);
  }
  .socialG{
    /* margin-bottom: -10%; */
    /* background-color: black; */
    width: 95vw;
    height: 40vh;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 85vw;
  }
  
  
  .logo
   {
    height: 150px;
    width: 150px;
    
  }
  .hero{
    overflow: hidden;
    z-index: 2;
  }
  .heroImg {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    overflow: hidden;
    height: 56%;
    width: 90%;
    z-index: 1;
   
  }
  
}
@media (min-width: 300px) and (max-width: 421px){
  .main{
    margin-bottom: -25px;
    margin-bottom: -7.3%;
  }
}

/* Tablet and Smaller Desktop */
@media only screen and (min-width: 702px) and (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    margin-bottom: -20px;
    background-color: rgb(16, 39, 94);
    margin-bottom: -10.3%;
    z-index: 2;
    
  }
  
  
  .grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(25%, auto));
    width: var(--max-width);
    max-width: 100%;
  }
  
  .card {
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
  }
  
  .card span {
    display: inline-block;
    transition: transform 200ms;
  }
  
  .card h2 {
    font-weight: 600;
    margin-bottom: 0.7rem;
  }
  
  .card p {
    margin: 0;
    opacity: 0.6;
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 30ch;
  }
  .break1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2px;
    width: 400px;
    background-color: gray;
    box-shadow: 2px 4px 8px;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: var(--border-radius);
  }
  .break2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2px;
    width: 400px;
    background-color: gray;
    box-shadow: 2px 4px 8px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: var(--border-radius);
  }
  .socialG{
    /* margin-bottom: -10%; */
    /* background-color: black; */
    width: 95vw;
    height: 40vh;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 85vw;
  }
  
  
  .logo
   {
    height: 250px;
    width: 250px;
    
  }
  .hero{
    overflow: hidden;
    z-index: 2;
  }
 
  .gridSection{
    margin-bottom: 105px;
  }
}

/* @media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
} */


@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
/* @keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
} */

@media screen and (max-width: 281px) {
 
  .hero{
    height: 40vh;
    margin-bottom: 10px;
  }
  .gridSection{
    margin-bottom: 105px;
  }
  
  .image{
    height: 100px;
    width: 100px;
  }
  .main{
    margin-bottom: -25px;
    margin-bottom: -9.3%;
  }
  
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .main{
    margin-bottom: -25px;
    margin-bottom: -9.3%;
  }
}
@media only screen and (min-width: 1020px) and (max-width: 1025px) {
 
  .gridSection{
    margin-bottom: 145px;
  }
  
  .image{
    height: auto;
    width: auto;
  }
  .main{
    height: auto;
  }
  
}