.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 6rem;
  min-height: 100dvh;
  background-color: white;
  width: 100dvw;
}
/* SECTIONS */
.hero{
  overflow: hidden;
  z-index: 2; 
  display: flex;
  height: 66dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 6;
  box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.53); 
  margin-top: -5%;
  margin-bottom: -2.3%;
  
}
.info{
  width: 100vw;
  height: 155vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
}
.services{
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 6;
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.33); 
}
.contact {
  height: 70vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.13)),url(https://edycymyofrowahspzzpg.supabase.co/storage/v1/object/public/Images/public/IMG_7753.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin-top: 20px;
  margin-bottom: -7.68%;
}
/* HERO SECTION */

.heroSection{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.23)),url(https://edycymyofrowahspzzpg.supabase.co/storage/v1/object/public/Images/public/trucks2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 66dvh;
  width: 100dvw;
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.43); 
  display: flex;
  justify-content: center;
}
.heroTitle{
  color: white;
}
.heroSubtitle{
  color: white;
}

.heroContainer{
  height: 100%;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
  
}
.heroWrapper{
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 3;
}
.heroLeft{
  flex: 2;
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heroRight{
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.rightCard{
  height: 65%;
  width: 85%;
  background-color: rgb(16, 39, 94);
  border-top: 28px solid red;
  border-radius: var(--border-radius);
  margin-right: 5%;
  margin-top: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardWrapper{
  height: 100%;
  width: 92%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}
.cardContent{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.cardContent h3{
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: left;

}
.cardContent ul{
  list-style: none;
  padding-left: 0;
}
.cardContent li{
  color: white;
  font-size: 1rem;
  line-height: 2em;
  font-weight: 400;
  text-align: left;
  list-style: none;
  padding-left: 0;
}
.cardContent span{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.cardContent button{
  height: 40px;
  width: 120px;
  border-radius: 5px;
  border: none;
  background-color: red;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  font-weight: 900;
}

.heroLeft h1{
  color: white;
  font-size: 42px;
  font-weight: 900;
  color: white;
  letter-spacing: 2px;
  line-height: 2.2em;
  text-transform: uppercase;
}
.heroLeft h2{
  color: white;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.6em;
}
.heroLeft h3{
  color: white;
  /* font-size: 22px; */
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 2.6em;
}
.heroContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;

}
.heroContent span{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.heroContent button{
  height: 50px;
  width: 160px;
  border-radius: 5px;
  border: none;
  background-color: red;
  color: white;
  font-size: 1rem;
  font-weight: 900;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.43); 
  cursor: pointer;
}
/* INFO SECTION */

.infoSection{
  height: 145vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
  color: black;
  background-color: transparent;
}
.infoContainer{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: transparent;
  padding-bottom: 20px;
}
.infoWrapper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.infoTop{
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding-top: 15px;
  box-shadow: 5px 25px 25px rgba(0, 0, 0, 0.33);
}
.infoTopContainer{
  height: 45dvh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.infoTopWrapper{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 4;
}
.infoTopWrapperC{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  flex: 4;
}
.infoTopLeft{
  flex: 3.2;
  height: 100%;
  border-top: 25px solid red;
}
.infoTopLeftC{
  flex: 3.2;
  height: 100%;
  border-top: 25px solid rgb(16, 39, 94);
}
.infoTopRight{
  flex: .8;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  width: 100%;
}
.imgContainer{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}
.infoImage{
  object-fit: fill;
  /* filter: grayscale(100%);
   transition: ease 1s all; */
}
/* .infoImage:hover{
  filter: grayscale(0%);
  transition: ease 1s all;
} */
.article{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: black;
}
.infoCenterContainer{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 40px;
  margin-left: 5rem;
  background-color: rgb(16, 39, 94);
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.43); 
  margin-bottom: 10px;
  border: 2px solid white;
}

.infoCenterContainer h4{
  text-align: center;
}
.infoCenterContainer p{
  text-align: right;
  
}
.infoBottomContainer{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-right: 5rem;
  background-color: rgb(16, 39, 94);
  padding-bottom: 40px;
  box-shadow: 15px 25px 155px rgba(0, 0, 0, 0.43); 
  border: 2px solid white;
}
.infoCenter{
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

}
.infoBottom{
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.infoWrapper h2{
  font-size: 44px;
  font-weight: 900;
  width: 100%;
  margin-bottom: 20px;
  letter-spacing: 2px;
  line-height: 1.6em;
  text-align: center;
}
.infoWrapper p {
  font-size: 1rem;
  width: 80%;
  padding-bottom: 10px;
  font-weight: 400;
  
}
/*SERVICES SECTION */

.servicesSection{
  height: 50vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
  color: white;
  /* box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.43);  */
  margin-bottom: -50%;
}
.servicesContainer{
  width: 95%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.43); 
  border-radius: var(--border-radius);
 
  
}
.servicesWrapper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 3;
  z-index: 16;
  
}
.servicesWrapper button{
  height: 40px;
  width: 160px;
  border-radius: 5px;
  border: none;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0.99), rgba(255, 0, 0, 0.79));
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.servicesWrapper h3{
  font-size: 1.8rem;
}
.servicesLeft{
  flex: 1;
  height: 100%;
  width: 100%;
}
.serviceLeftContainer{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.23)),url(https://edycymyofrowahspzzpg.supabase.co/storage/v1/object/public/Images/public/galleryImages/gal12.webp);
  background-repeat: no-repeat;
  background-size: cover;

}
.serviceLeftWrapper{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 2;
}
.serviceLeftTop{
  flex: 1;
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.serviceLeftTopContainer {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.serviceLeftTopContainer h3 {
  margin-bottom: 1rem;
}

.serviceLeftBottom{
  flex: 1;
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.serviceLeftBottomContainer {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.serviceLeftBottomContainer h3 {
  margin-bottom: 1rem;
}
.servicesCenter{
  flex: 1;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.23)),url(https://edycymyofrowahspzzpg.supabase.co/storage/v1/object/public/Images/public/ttyy.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-left: 2px solid white;
  border-right: 2px solid white;
}
.serviceCenterContainer {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.serviceCenterContainer h3 {
  margin-bottom: 1rem;
}

.servicesRight{
  flex: 1;
  height: 100%;
  width: 100%;
}
.serviceRightContainer{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.73), rgba(51, 32, 127, 0.23)),url(https://edycymyofrowahspzzpg.supabase.co/storage/v1/object/public/Images/public/slider1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.serviceRightWrapper{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 2;
}
.serviceRightTop{
  flex: 1;
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.serviceRightTopContainer {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.serviceRightTopContainer h3 {
  margin-bottom: 1rem;
}

.serviceRightBottom{
  flex: 1;
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.serviceRightBottomContainer {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.serviceRightBottomContainer h3 {
  margin-bottom: 1rem;
}

.gridPattern{
  position: relative;
  left: 0;
  right: 0;  /* This corresponds to top-14 in Tailwind */
  height: 50vh;
  width: 100%;
  /* background-color: #f5f5f4;  fill-blue-900, assuming blue-900 is #3b82f6 */
  color: #1e293b; /* stroke-neutral-950/5, assuming neutral-950 is #1e293b with 5% opacity */
  background-image: linear-gradient(to right, #991b1b, white, #10275E); /* from-red-700, via-white, to-neutral-50 */
  mask-image: linear-gradient(to right, #991b1b, white, #10275E); /* from-red-700, via-white, to-neutral-50 */
  
}
.infoContainer{
  width: 95%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.infoWrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 3;
}
/* CONTACT SECTION */
.contactSection{
  height: 70dvh;
  width: 100dvw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
}
.contactContainer{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactWrapper{
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 3;
}

.map{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.map h2{
  font-size: 3.5rem;
  font-weight: 900;
  color: white;
  width: 80%;
  padding-bottom: 2%;
  /* margin-left: 10%; */
  text-align: center;
}
.map button{
  height: 80px;
  width: 400px;
  border-radius: 5px;
  border: none;
  background-color: red;
  color: white;
  font-size: 1.9rem;
  font-weight: 900;
  letter-spacing: 2px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0); 
  cursor: pointer;
}

/* MEDIA QUERIES */
/* Larger Desktop */
@media only screen and (min-width: 1201px) {
  .main { 
    min-height: 350dvh;
  }
  .hero{
    margin-bottom: -4.3%;
    height: 75dvh;
  }
  .info{
    margin-bottom: -4.3%;
  }
  .services{
    margin-bottom: -2%;
  }
  .heroSection{
    height: 75dvh;
  }
  .infoTopContainer{
    height: 45dvh;
    justify-content: space-evenly;
  }
  .infoTop{
    padding-top: 15px;
  }
  .infoTopLeft{
    height: 100%;
    border-top: 45px solid red;
  }
  .infoTopLeftC{
    height: 100%;
    border-top: 45px solid rgb(16, 39, 94);
  }
  .infoContainer{
    padding-bottom: 0px;
  }
  
  .infoImage{
    height: 100%;
    width: 100%;
  }
  .contact{
    height: 70dvh;
    margin-top: 2.5%;
    background-color: black;
  }
}
/* MOBILE */
@media only screen and (max-width: 431px) {
  .main{
    margin-top: -60vh;
    height: 670dvh;
    max-width: 430px;
  }
  .hero{
    height: 65svh;
    width: 100svw;
    margin-top: -17%;
  }
  .heroSection{
    height: 125svh;
    width: 100svw;
    max-width: 430px;
    background-size: cover;

  }
  .heroSection h1{
    font-size: 1.3rem;
    margin-bottom: 2%;
  }
  .heroSection h2{
    font-size: 1.2rem;
  }
  .heroSection h3 {
    margin-top: 2%;
    margin-bottom: 3%;
  }
  .heroContainer{
    width: 100%;
  }
  .heroWrapper{
    flex-direction: column;
    flex: 4;
  }
  .heroLeft{
    flex: 2;
    height: 100%;
    width: 94%;
    
  }
  .heroRight{
    flex: 2;
    height: 100%;
    width: 100%;
  }
  .rightCard{ 
    margin-top: 8%;
    margin-right: 0%;
    padding-bottom: 1%;
    height: 105%;
  }
  .info{
    height: 120svh;
    width: 100svw;
    margin-top: 80vh;
    
  }
  .infoTop{
    height: 120svh;
    width: 100svw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding-top: 15px;
  }
  .infoSection{
    height: 100%;
    width: 100svw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .infoContainer{
    justify-content: space-evenly;
  }
  .infoTopContainer{
    height: 100svh;
    width: 100svw;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
  }
  .infoWrapper{
    justify-content: space-evenly;
  }
  .infoTopWrapper{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .infoTopWrapperC{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .infoImage{
    height: 70%;
    width: 90%;
  }
  .article{
    overflow: scroll;
  }
  .infoWrapper h2 {
    font-size: 24px;
    margin-top: 10%;
  }
  .infoWrapper p {
    font-size: 1rem;
    width: 90%;
  }
  .services{
    height: 100svh;
    width: 100svw;
    /* margin-top: -10vh;
    margin-bottom: -50vh; */

  }
  .servicesSection{
    height: 100svh;
    width: 100svw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .servicesWrapper{
    flex-direction: column;
  }
  .gridPattern{
    display: none;
  }
  .servicesCenter{
    border-left: 0;
    border-right: 0;
  }
}


/* .grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}
.break1{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2px;
  width: 1000px;
  background-color: gray;
  box-shadow: 2px 4px 8px;
 margin-top: 15px;
  margin-bottom: 20px;
  border-radius: var(--border-radius);
}
.break2{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2px;
  width: 1000px;
  background-color: gray;
  box-shadow: 2px 4px 8px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: var(--border-radius);
} */
/* .socialG{
  
  width: 95vw;
  height: 30vh;
  border-radius: var(--border-radius);
} */

/* .center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}
.image{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 95vw;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo
 {
  position: relative;
  animation: pulse 5s infinite;
  border-radius: var(--border-radius);
  
}
.rig{
  position: relative;
}

.thirteen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  padding: 25px 10px;
  margin-left: 16px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0px 2px 8px -1px #0000001a;
}

.thirteen::before,
.thirteen::after {
  content: '';
  position: absolute;
  z-index: -1;
} */

/* Conic Gradient Animation */
/* .thirteen::before {
  animation: 6s rotate linear infinite;
  width: 200%;
  height: 200%;
  background: var(--tile-border);
} */

/* Inner Square */
/* .thirteen::after {
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(
    to bottom right,
    rgba(var(--tile-start-rgb), 1),
    rgba(var(--tile-end-rgb), 1)
  );
  background-clip: content-box;
} */

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
/* @media (max-width: 700px) {
  
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    margin-bottom: -20px;
    background-color: rgb(16, 39, 94);
    margin-bottom: -5.3%;
    z-index: 2;
    
  }
  
  
  .grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(25%, auto));
    width: var(--max-width);
    max-width: 100%;
  }
  
  .card {
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
  }
  
  .card span {
    display: inline-block;
    transition: transform 200ms;
  }
  
  .card h2 {
    font-weight: 600;
    margin-bottom: 0.7rem;
  }
  
  .card p {
    margin: 0;
    opacity: 0.6;
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 30ch;
  }
  .break1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2px;
    width: 400px;
    background-color: gray;
    box-shadow: 2px 4px 8px;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: var(--border-radius);
  }
  .break2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2px;
    width: 400px;
    background-color: gray;
    box-shadow: 2px 4px 8px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: var(--border-radius);
  } */
  /* .socialG{ */
    /* margin-bottom: -10%; */
    /* background-color: black; */
    /* width: 95vw;
    height: 40vh;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 85vw;
  }
  
  
  .logo
   {
    height: 150px;
    width: 150px;
    
  }
  .hero{
    overflow: hidden;
    z-index: 2;
  }
  .heroImg {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    overflow: hidden;
    height: 56%;
    width: 90%;
    z-index: 1;
   
  }
  
}
@media (min-width: 300px) and (max-width: 421px){
  .main{
    margin-bottom: -25px;
    margin-bottom: -7.3%;
  } 
}

/* Tablet and Smaller Desktop */
/*@media only screen and (min-width: 702px) and (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    margin-bottom: -20px;
    background-color: rgb(16, 39, 94);
    margin-bottom: -10.3%;
    z-index: 2;
    
  }
  
  
  .grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(25%, auto));
    width: var(--max-width);
    max-width: 100%;
  }
  
  .card {
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
  }
  
  .card span {
    display: inline-block;
    transition: transform 200ms;
  }
  
  .card h2 {
    font-weight: 600;
    margin-bottom: 0.7rem;
  }
  
  .card p {
    margin: 0;
    opacity: 0.6;
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 30ch;
  }
  .break1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2px;
    width: 400px;
    background-color: gray;
    box-shadow: 2px 4px 8px;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: var(--border-radius);
  }
  .break2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2px;
    width: 400px;
    background-color: gray;
    box-shadow: 2px 4px 8px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: var(--border-radius);
  }*/
  /* .socialG{ */
    /* margin-bottom: -10%; */
    /* background-color: black; */
    /* width: 95vw;
    height: 40vh;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 85vw;
  }
  
  
  .logo
   {
    height: 250px;
    width: 250px;
    
  }
  .hero{
    overflow: hidden;
    z-index: 2;
  }
 
  .gridSection{
    margin-bottom: 105px;
  }
} */

/* @media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
} */


@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
/* @keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
} */

/* @media screen and (max-width: 281px) {
 
  .hero{
    height: 40vh;
    margin-bottom: 10px;
  }
  .gridSection{
    margin-bottom: 105px;
  }
  
  .image{
    height: 100px;
    width: 100px;
  }
  .main{
    margin-bottom: -25px;
    margin-bottom: -9.3%;
  }
  
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .main{
    margin-bottom: -25px;
    margin-bottom: -9.3%;
  }
}
@media only screen and (min-width: 1020px) and (max-width: 1025px) {
 
  .gridSection{
    margin-bottom: 145px;
  }
  
  .image{
    height: auto;
    width: auto;
  }
  .main{
    height: auto;
  }
  
} */