.page{
  width: 100vw;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
}
.hero{
    width: 100vw;
    height: 35vw;
  }
  .heroLink{
    height: 40px;
    width: 120px;
    border-radius: 5px;
    border: none;
    background-color: red;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    font-weight: 900;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.43); 
  }
  
  .heroSection{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0.23)),url(https://edycymyofrowahspzzpg.supabase.co/storage/v1/object/public/Images/public/newimages/IMG_5171.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.43); 
  }
  .heroSectionPD{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0.23)),url(https://edycymyofrowahspzzpg.supabase.co/storage/v1/object/public/Images/public/newimages/IMG_8900.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.43); 
  }
  .heroSectionLD{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0.23)),url(https://edycymyofrowahspzzpg.supabase.co/storage/v1/object/public/Images/public/Pratt2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.43); 
  }
  .heroSectionTD{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0.23)),url(https://edycymyofrowahspzzpg.supabase.co/storage/v1/object/public/Images/public/newimages/IMG_8084.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.43); 
  }
  .heroSectionCD{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0.23)),url(https://edycymyofrowahspzzpg.supabase.co/storage/v1/object/public/Images/public/newimages/IMG_7118.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.43); 
  }
  .heroSectionSD{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0.23)),url(https://edycymyofrowahspzzpg.supabase.co/storage/v1/object/public/Images/public/newimages/IMG_8878.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: calc(50% - 0dvw) 70%;
    width: 100%;
    height: 100%;
    box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.43); 
  }
.heroSectionCV{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0.23)),url(https://edycymyofrowahspzzpg.supabase.co/storage/v1/object/public/Images/public/IMG_7297.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: calc(50% - 0dvw) 70%;
    width: 100%;
    height: 100%;
    box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.43); 
  }
  .heroContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .heroWrapper{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  .heroWrapper span {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 60px;
    width: 400px;
    margin-top: 2%;
    margin-left: -4%;
  }
  .heroWrapper h1{
    font-size: 72px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    line-height: 1.2em;
  }
  .info{
    height: 100%;
    width: 100vw;
    padding-top: 2%;
  }
  .infoBtn1{
    height: 40px;
    width: 200px;
    border-radius: 5px;
    border: none;
    background-color: red;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    font-weight: 900;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.43); 
  }
  .infoBtn2{
    height: 40px;
    width: 200px;
    border-radius: 5px;
    border: none;
    background-color: red;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    font-weight: 900;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.43); 
  }
  .infoBtn3{
    height: 40px;
    width: 200px;
    border-radius: 5px;
    border: none;
    background-color: red;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    font-weight: 900;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.43); 
  }
  .infoSection{
    height: 50vh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .infoContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .infoWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: 3;
  }
  .infoTop{
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
  }
  .infoTopContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .infoTopWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 3;
  }
  .infoTopLeft{
    flex: 2;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1;
    margin-right: -2%;
    
  }
  .infoTopLeftContainer{
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #10275E;
    border-top: 25px solid red;
  }
  .infoTopLeftContainer h2{
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    width: 90%;
    color: white;
    margin-bottom: -2%;
  }
  .infoTopLeftContainerCareer{
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #10275E;
    border-top: 25px solid red;
  }
  .infoTopLeftContainerCareer h2{
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    width: 90%;
    color: white;
    margin-bottom: -2%;
  }
  
  .infoImage{
    box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.43);
  }
  .infoTopLeftContainer p{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    width: 90%;
    color: white;
    line-height: 1.4em;
  }
  .infoTopLeftContainerCareer p{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    width: 90%;
    color: white;
    line-height: 1.4em;
  }
  
  .infoTopRight{
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    
  }
  .infoCenter{
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1%;
    
  }
  .infoBottom{
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
  }
  .article{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .articleSection{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
    .articleContainer{
        width: 90%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .articleWrapper{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .articleWrapper h3 {
        font-size: 42px;
        font-weight: 900;
        width: 90%;
        color: #10275E;
        margin-bottom: -2%;
    }
    .contentContainer{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;
    }
    .articleContent{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .articleContent p {
        font-size: 16px;
        font-weight: 700;
        color: #10275E;
        line-height: 2.0em;
    }
    .btns{
      width: 100%;
      height: 1%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: row;
    }
    /*CAREERS PAGE */
    .grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(25%, auto));
        grid-gap: 1dvw;
        width: 92%;
        max-width: 95%;
        height: auto;
        }
        
        .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 300px;
        border: 1px solid black;
        background-color: rgb(16, 39, 94);
        border-radius: var(--border-radius);
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.23)),url(https://edycymyofrowahspzzpg.supabase.co/storage/v1/object/public/Images/public/att.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        }
        .jobPostings{
            width: 100dvw;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 5%;
            margin-bottom: 3%;  
          }
          .jobPostingsSection{
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: white;
          }
          .jobPostInfo{
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: white;
            
          }
          .jobPostInfo summary{
            font-size: x-large;
            font-weight: 900;
            text-align: center;
            width: 100%;
            margin-bottom: 2%;
            cursor: pointer;
            text-shadow: 2px 2px 2px black;
            margin-top: 5%;
            letter-spacing: .5px;
          }
          .jobPostInfo p{
            font-size: large;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 100%;
            padding-left: 5%;
            padding-right: 5%;
            margin-bottom: 2%;
            text-shadow: 2px 2px 2px black;
          }
          .jobBtns{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
          }
          .infoBtn3 p{
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            width: 100%;
            color: white;
            
          }
          .spacer{
            height: 20vh;
            width: 100vw;
            z-index: -200;
            margin-bottom: -5%;
          }
          .gridPattern{
            height: 20vh;
            width: 100vw;
            /* background-color: #f5f5f4;  fill-blue-900, assuming blue-900 is #3b82f6 */
            color: #1e293b; /* stroke-neutral-950/5, assuming neutral-950 is #1e293b with 5% opacity */
            background-image: linear-gradient(to right, #991b1b, white, #10275E); /* from-red-700, via-white, to-neutral-50 */
            mask-image: linear-gradient(to right, #991b1b, white, #10275E); /* from-red-700, via-white, to-neutral-50 */
            
          }

          @media only screen and (min-width: 1741px) {
            /* Add your styles here */
            .heroWrapper h1{
              margin-left: -40px;
            }
            .heroLink{
              font-size: x-large;
              width: 40%;
            }
            .infoTopLeft{
              margin-right: -3%;
            }
            .infoTopLeftC{
              margin-right: 1%;
            }
            
            .infoTopLeftContainer{
              border-top: 45px solid red;
              width: 75dvw;
            }
            .infoTopLeftContainerCareer{
              border-top: 45px solid red;
              width: 75dvw;
            }
            .infoTopLeftContainerC{
              border-top: 45px solid red;
              width: 74dvw;
            }
            .infoTopWrapper{
              margin-left: -4%;
            }
            .infoImage{
              height: 430px;
              width: 470px;
            }
            .infoTopLeftContainer h2{
              margin-top: -4%;
              margin-bottom: -4%;
            }
            .infoTopLeftContainerCareer h2{
              margin-top: 1%;
              padding-bottom: 20px;
              
            }
            
            .infoTopLeftContainer p{
              font-size: large;
            }
            .infoTopLeftContainerCareer p{
              font-size: large;
            }
            .infoBtn1{
              font-size: x-large;
              width: 250px;
              height: 50px;
            }
            .infoBtn2{
              font-size: x-large;
              width: 250px;
              height: 50px;
            }
            .infoBtn3{
              font-size: x-large;
              width: 250px;
              height: 50px;
            }
            .articleContent p{
              font-size: large;
            }
          }
          /* Mobile */
          @media screen and (max-width: 699px) {
            .hero{
              height: 40vh;
            }
            .hero h1{
              font-size: x-large;
              margin-left: 7px;
            }
            .heroWrapper span{
              margin-top: 4%;
              margin-left: -13%;
             }
            .info{
              height: 100%;
              width: auto;
              margin-bottom: -2dvh;
            }
            .infoSection{
              height: 100%;
              width: 100dvw;
            }
            .infoTop{
              padding-left: 0;
              width: 100dvw;
            }
            .infoTopLeft{
              margin-right: 0;
              width: 100dvw;
            }
            .infoTopLeftContainerCareer{
              height: auto;
              padding-bottom: 2%;
            }
            .infoTopLeftContainer{
              height: auto;
              padding-bottom: 2%;
            }
            .infoTopLeftC{
              margin-right: 0;
              width: 100dvw;
            }
            .infoTopLeftC h2{
              margin-bottom: 4%;
              margin-top: 2%;
              font-size: 18px;
            }
            .infoTopLeftC p{
              margin-bottom: 5%;
            }
            .infoTopLeft h2{
              margin-bottom: 4%;
              margin-top: 4%;
            }
            .infoTopLeft p{
              margin-bottom: 4%;
              padding-bottom: 2%;
            }
            .infoTopRightC{
              width: 100dvw;
            }
            .infoBottom{
              padding-left: 0;
            }
            .infoTopWrapper{
              flex-direction: column;
              margin-bottom: 2%;
            }
            .infoTopWrapperC{
              flex-direction: column;
              margin-bottom: 2%;
            }
            .infoSection h2{
              font-size: x-large;
            }
            .infoImage{
             height: 20%;
             width: 100%;
            }
            .articleSection{
              height: auto;
              width: 100dvw;
              padding-top: 5%;
            }
            .articleSection h3{
              font-size: x-large;
              margin-top: 5%;
            }
            .articleContent{
              margin-top: 5%;
              padding-bottom: 20px;
            }
            .btns{
              margin-top: 5%;
              width: 100%;
            }
            .infoBtn1{
              width: 45%;
              height: 40px;
              margin-bottom: 2%;
              font-size: large;
              
            }
            .infoBtn2{
              height: 40px;
              margin-bottom: 2%;
              width: 45%;
              font-size: large;
            }
            .infoBtn3{
              height: 40px;
              width: 120px;
              margin-bottom: 10%;
              font-size: large;
            }
            .jobPostings{
              height: auto;
              min-height: 60dvh;
              max-height: fit-content;
              padding-bottom: 2%;
            }
            .jobPostingsSection{
              margin-top: 5%;
              height: auto;
              min-height: 60dvh;
              max-height: fit-content;
              margin-bottom: 5%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .grid{
              grid-template-columns: repeat(1, minmax(25%, auto));
              width: 85%;
              height: auto;
              min-height: 60dvh;
              max-height: fit-content;
            }
            .card{
              padding-bottom: 2%;
              min-height: 200px;
              height: auto;
              max-height: 200px;
              margin-bottom: 2%;
            }
            .jobPostInfo summary{
              font-size: large;
              margin-top: 5%;
              padding-bottom: 5%;
                /* padding-top: 12%; */
            }
            .jobPostInfo p{
              font-size: medium;
              padding-bottom: 5%;
            
            }
            .spacer{
              height: 10vh;
              margin-top: 5px;
             
            }
        }
        @media (min-width: 701px) and (max-width: 1350px) {
          .hero{
            height: 50dvh;
          }
          .info{
            height: 100%;
            width: auto;
            margin-bottom: -2dvh;
          }
          .infoSection{
            height: 100%;
            width: 100dvw;
          }
          .infoTop{
            padding-left: 0;
            width: 100dvw;
          }
          .infoTopLeft{
            margin-right: 0;
            width: 100dvw;
          }
          .infoTopLeftContainerCareer{
            height: auto;
            padding-bottom: 2%;
          }
          .infoTopLeftContainer{
            height: auto;
            padding-bottom: 2%;
          }
          .infoTopLeftC{
            margin-right: 0;
            width: 100dvw;
          }
          .infoTopLeftC h2{
            margin-bottom: 4%;
            margin-top: 2%;
            font-size: 36px;
          }
          .infoTopLeftC p{
            margin-bottom: 4%;
          }
          .infoTopLeft h2{
            margin-bottom: 4%;
            margin-top: 2%;
            font-size: 36px;
          }
          .infoTopLeft p{
            margin-bottom: 4%;
          }
          .infoTopRightC{
            width: 100dvw;
          }
          .infoBottom{
            padding-left: 0;
          }
          .infoTopWrapper{
            flex-direction: column;
            margin-bottom: 2%;
          }
          .infoTopWrapperC{
            flex-direction: column;
            margin-bottom: 2%;
          }
          .infoSection h2{
            font-size: 36px;
          }
          .infoImage{
           height: 20%;
           width: 100%;
          }
          .articleSection{
            height: auto;
            width: 100dvw;
            padding-top: 5%;
          }
          .articleSection h3{
            font-size: xx-large;
            margin-top: 5%;
          }
          .articleContent{
            margin-top: 5%;
            padding-bottom: 20px;
          }
          .btns{
            margin-top: 5%;
          }
          .jobPostInfo summary{
            font-size: large;
            margin-top: 5%;
            padding-bottom: 5%;
            width: auto;
          }
          .jobPostInfo p{
            font-size: large;
            padding-bottom: 5%;
          
          }
          .spacer{
            height: 10vh;
           
          }
        }
        @media screen and (max-width: 300px){
          .hero h1{
            font-size: x-large;
          }
          .heroWrapper span{
            margin-top: 7%;
            margin-left: -9%;
            width: 300px;
           }
          }
          @media (orientation: landscape) and (max-width: 900px) {
            .hero{
              height: 100dvh;
              width: 100dvw;
              margin-top: -10dvh;
            }
            .hero h1{
              font-size: xx-large;
              margin-bottom: 5%;
              margin-left: 4%;
            }
            .info{
              height: 100%;
              width: auto;
              margin-bottom: 2dvh;
            }
            .infoTopLeft{
              height: auto;
            }
            .infoTopLeftContainer{
              height: auto;
              padding-bottom: 2%;
            }
            .infoTopLeftContainerCareer{
              height: auto;
              padding-bottom: 2%;
            }
            .infoTopLeftC{
              height: auto;
            }
            .infoTopLeftContainerC{
              height: auto;
              padding-bottom: 2%;
            }
            .grid{
              grid-template-columns: repeat(1, minmax(25%, auto));
              width: 75%;
            }
          }
