.info{
    height: 40vh;
    width: 95vw;
    overflow: hidden;
    border: 1px solid black;
    /* background-color: black; */
    border-radius: var(--border-radius);
   
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(25%, auto));
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid black;
  border-radius: var(--border-radius);
}
.card button{
  height: 50px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: var(--border-radius);
  border: 1px solid rgb(16, 39, 94);
  background-color: black;
  box-shadow: 5px 15px 25px rgb(16, 39, 94);;
  color: white;
  cursor: pointer;
}
.modal button{
  cursor: pointer;
}
.modal2 button{
  cursor: pointer;
}
.modal3 button{
  cursor: pointer;
}


@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
    color: white;
   
  }

  .card:hover span {
    transform: translateX(4px);
  }
 
}

.modal {
  height: 80vh;
  width: 90%;
  position: fixed;
  display: none;
}
.modal2 {
  height: 110vh;
  width: 90%;
  position: fixed;
  display: none;
}
.modal3 {
  height: 80vh;
  width: 90%;
  position: fixed;
  display: none;
}
.modalImg{
  margin-bottom: 10px;
  

}

.modalContent {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 90%;
  width: 80%;
  flex-direction: column;
}

.modal:target {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 1%;
  left: 5%;
  background-color: white;
  color: black;
  border-radius: var(--border-radius);
  z-index: 100;
}
.modal2:target {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 1%;
  left: 5%;
  background-color: white;
  color: black;
  border-radius: var(--border-radius);
  z-index: 100;
  height: calc(100% - 15px);
}
.modal3:target {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 1%;
  left: 5%;
  background-color: white;
  color: black;
  border-radius: var(--border-radius);
  z-index: 100;
}

.cardIcon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 55px;
  color: black;
  font-size: 30px;
  background-color: white;
  border-radius: 50%;
  height: 55px;
  border: 1px solid black;
  box-shadow: 5px 15px 25px black;
}




/* Mobile */
@media (max-width: 700px) {

  
.info{
  display: none;
}

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
  .info{
    display: none;
  }
}
@media (min-width: 300px) and (max-width: 420px) {
  .card h2 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
  } 
  .info{
    height: 30vh;
    width: 95vw;
    overflow: hidden;
    border: 1px solid black;
    background-color: black;
    border-radius: var(--border-radius);
   
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(25%, auto));
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid black;
  border-radius: var(--border-radius);
}
.card button{
  height: 50px;
  width: 95%;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: var(--border-radius);
  border: 1px solid rgb(16, 39, 94);
  background-color: black;
  box-shadow: 5px 15px 25px rgb(16, 39, 94);;
  color: white;
  cursor: pointer;
  margin-left: 2.5px;
}
.modal button{
  cursor: pointer;
}
.modal {
  height: 80vh;
  width: 90%;
  position: fixed;
  display: none;
  /* display: flex;
  align-items: center;
  justify-content: center;
  bottom: 1%;
  left: 5%;
  background-color: black;
  color: white;
  border-radius: var(--border-radius); */
}

.modalContent {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 90%;
  width: 80%;
  flex-direction: column;
}

.modal:target {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 1%;
  left: 5%;
  background-color: white;
  color: black;
  border-radius: var(--border-radius);
  z-index: 100;
}

.cardIcon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 45px;
  color: black;
  font-size: 25px;
  background-color: white;
  border-radius: 50%;
  height: 45px;
  border: 1px solid black;
  box-shadow: 5px 15px 25px black;
}


}
