.form{
    height: 40dvh;
    width: 60dvw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    
}
.formContainer{
    height: 90%;
    width: 100%;
}
.formWrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 3;
    align-items: center;
    justify-content: space-evenly;
    
}
.formTop{
    flex: 1;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.formCenter{
    flex: .5;
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.formBottom{
    flex: 1.5;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.formInput{
    width: 60%;
    height: 40px;
    cursor: pointer;
    text-align: center;
    margin-right: 2px;
    border: none;
    border-bottom: 1px solid #ccc; /* Add a bottom border */
    padding: 10px 0;
    filter: drop-shadow(13px 22px 5px #ccc);
}


.contactMessage{
    height: 90%;
    width: 90%;
    border: none;
    cursor: pointer;
    text-align: center;
    margin: 2rem;
    border: none;
    border-bottom: 1px solid #ccc; /* Add a bottom border */
    padding: 10px 0;
    filter: drop-shadow(0px 22px 12px #ccc);
}
.formSubmit{
    width: 30%;
    height: 60px;
    cursor: pointer;
    color: black;
    border-radius: 15px;
    border: .5px solid black;
    background-color: #ccc;
    
}

@media screen and (max-width:480px) and (min-width:390px) {
    .form{
        height: 100vh;
        max-width: 480px;
        min-width: 390px;
        width: 100vw;
        background-color: white;
        margin-top: 15%;
    }
    .formContainer{
        height: 100%;
        width: 100%;
        display: flex;
    }
    .formWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        flex: 2;
        height: 80%;
        width: 80%;
        border: none;
        margin-top: 5px;
        margin-right: 20px;
        /* margin-left: 5%; */
    
        
    }
    .formLeft{
        flex: 1;
        background-image: url(../public/form.png);
        background-position: center;
        background-size: 275px;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        
    }
    .formRight{
        flex: 1;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: navy;
        
        
    }
    .contactForm{
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 5px;
        background-color: white;
        filter: none;
        
    }
    .formInput{
        width: 70%;
        margin-left: 4%;
        height: 10%;
        border: none;
        cursor: pointer;
        box-shadow: none;
        filter: none;
    }
    
    .contactMessage{
        height: 30%;
        width: 90%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        filter: none;
    }
    .formSubmit{
        width: 50%;
        cursor: pointer;
        color: black;
        background-color: lightgray;
    }
    
    
}
@media (max-width: 700px) {
    .form{
        height: 60vh;
        width: 95vw;
        background-color: white;
        overflow: scroll;
    }
    
    
    .formInput{
        width: 70%;
        margin-left: 4%;
        height: 10%;
        border: none;
        cursor: pointer;
        box-shadow: none;
        filter: none;
    }
    
    .contactMessage{
        height: 30%;
        width: 109%;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        filter: none;
    }
    .formSubmit{
        width: 50%;
        height: 10%;
        cursor: pointer;
        color: black;
        background-color: lightgray;
        filter: none;
    }
    .formBottom{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        filter: none;
    }
    
}

