.login{
    width: 100vw;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
  margin-bottom: -5.2%;
}
.spacer{
    height: 20vh;
    width: 100dvw;
    z-index: -200;
  }
  .gridPattern{
    height: 20vh;
    width: 100vw;
    /* background-color: #f5f5f4;  fill-blue-900, assuming blue-900 is #3b82f6 */
    color: #1e293b; /* stroke-neutral-950/5, assuming neutral-950 is #1e293b with 5% opacity */
    background-image: linear-gradient(to right, #991b1b, white, #10275E); /* from-red-700, via-white, to-neutral-50 */
    mask-image: linear-gradient(to right, #991b1b, white, #10275E); /* from-red-700, via-white, to-neutral-50 */
    
  }
  
  .form {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 300px;
    background-color: #f5f5f4;
    box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.43);
    border-radius: var(--border-radius);
  }
  .form h1{
    font-size: 2rem;
    font-weight: 900;
    color: black;
    letter-spacing: 2px;
    line-height: 1.2em;
    padding-top: 1%;
    padding-bottom: 3%;
}
.formContainer{
    height: 90%;
    width: 100%;
}
.formWrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 3;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 2%;
    
}
.formTop{
    flex: 1;
    height: 100%;
    width: 90%;
    gap: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.formCenter{
    flex: 1;
    height: 100%;
    width: 100%;
    gap: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.inputContainer{
    height: 100%;
    width: 100%;
}
.inputWrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 2%;
}
.inputLabelTop{
    flex: 1;
    height: 100%;
    width: 100%;
    gap: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
   
}
.input{
    width: 400px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    margin-right: 2px;
    padding: 10px 0;
    /* filter: drop-shadow(13px 22px 5px rgba(0, 0, 0, 0.13)); */
    border: 1px solid #10275E;
    /* border-radius: var(--border-radius); */

}
.inputLabelBottom{
    flex: 1;
    height: 100%;
    width: 100%;
    gap: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
   
}

.formCenter button{
    width: 100px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    margin-left: -10px;
    /* padding: 10px 0; */
    filter: drop-shadow(13px 22px 5px rgba(0, 0, 0, 0.13));
    border: 1px solid #10275E;
    /* border-radius: var(--border-radius); */
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: larger;

}



