@media screen and (max-width: 700px) {
   
    .hero {
        height: 75vh;
        width: 95vw;
        border: 1px solid black;
        background-color: black;
        border-radius: var(--border-radius);
        margin-top: -55px;
        z-index: 1;
        overflow: hidden;
    
    }
    
    .container {
        height: 100%;
        width: 100%;
    }
    
    .wrapper {
        height: 100%;
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .left {
        flex: 1;
        height: 40%;
        width: 100%;
    }
    
    .leftContent {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: left;
        justify-content: space-evenly;
        flex-direction: column;
        background-color: white;
        border: 1px solid black;
        border-radius: var(--border-radius);
    }
    
    .leftContent h1 {
        font-size: 30px;
        margin-left: 70%;
        margin-bottom: 2%;
        margin-top: -3%;
    }
    
    .contact {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 2%;
    }
    
    .contact button {
        width: 90px;
        height: 50px;
        background-color: black;
        color: white;
        text-decoration: none;
        border-radius: var(--border-radius);
        cursor: pointer;
        box-shadow: 5px 15px 25px black;
        font-size: 9px;
        font-weight: bold;
        margin-left: 145%;
    }
    
    .heroImg {
        position: relative;
        bottom: 320px;
        left: -2.5%;
        height: 320px;
        width: 280px;
    }
    
    .right {
        flex: 1;
        background-color: white;
        height: 100%;
        width: 100%;
        border-radius: var(--border-radius);
        overflow: hidden;
        border: 1px solid black;
    
    }
    
    .rightContainer {
        display: flex;
        flex-direction: column;
        width: 559px;
        height: 100%;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .grid {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
        margin-left: 25%;
        /* grid-template-columns: repeat(4, minmax(25%, auto)); */
        /* width: var(--max-width); */
        /* max-width: 100%; */
    }
    
    .card {
        /* padding: 1rem 1.2rem; */
        border-radius: var(--border-radius);
        background: rgba(var(--card-rgb), 0);
        border: 1px solid rgba(var(--card-border-rgb), 0);
        transition: background 200ms, border 200ms;
    }
    
    .card span {
        display: inline-block;
        transition: transform 200ms;
    }
    
    .card h2 {
        font-weight: 400;
        margin-bottom: 0.7rem;
        font-size: .8rem;
    }
    
    .card p {
        margin: 0;
        opacity: 0.6;
        font-size: 0.6rem;
        line-height: 1.5;
        max-width: 30ch;
    }
}

@media screen and (min-width: 1900px) {
    .hero {
        height: 75vh;
        width: 95vw;
        border: 1px solid black;
        background-color: black;
        border-radius: var(--border-radius);
        margin-top: -55px;
        z-index: 1;
        overflow: hidden;
    
    }
    
    .container {
        height: 100%;
        width: 100%;
    }
    
    .wrapper {
        height: 100%;
        width: 100%;
        flex: 3;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .left {
        flex: 2;
        height: 100%;
        width: 100%;
    }
    
    .leftContent {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: left;
        justify-content: space-evenly;
        flex-direction: column;
        background-color: white;
        border: 1px solid black;
        border-radius: var(--border-radius);
    }
    
    .leftContent h1 {
        font-size: 50px;
        margin-left: 50px;
    }
    
    .contact {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 18%;
    }
    
    .contact button {
        width: 140px;
        height: 50px;
        background-color: black;
        color: white;
        text-decoration: none;
        border-radius: var(--border-radius);
        cursor: pointer;
        box-shadow: 5px 15px 25px black;
    }
    
    .heroImg {
        position: relative;
        bottom: 735px;
        left: 35.5%;
        height: 745px;
        width: 785px;
    }
    
    .right {
        flex: 1;
        background-color: white;
        height: 100%;
        width: 100%;
        border-radius: var(--border-radius);
        overflow: hidden;
        border: 1px solid black;
    
    }
    
    .rightContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .grid {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
        margin-left: 25%;
        /* grid-template-columns: repeat(4, minmax(25%, auto)); */
        /* width: var(--max-width); */
        /* max-width: 100%; */
    }
    
    .card {
        /* padding: 1rem 1.2rem; */
        border-radius: var(--border-radius);
        background: rgba(var(--card-rgb), 0);
        border: 1px solid rgba(var(--card-border-rgb), 0);
        transition: background 200ms, border 200ms;
    }
    
    .card span {
        display: inline-block;
        transition: transform 200ms;
    }
    
    .card h2 {
        font-weight: 400;
        margin-bottom: 0.7rem;
        font-size: 1rem;
    }
    
    .card p {
        margin: 0;
        opacity: 0.6;
        font-size: 0.8rem;
        line-height: 1.5;
        max-width: 30ch;
    }
}
@media (min-width: 300px) and (max-width: 420px){
    .hero {
        height: 65vh;
        width: 95vw;
        border: 1px solid black;
        background-color: black;
        border-radius: var(--border-radius);
        margin-top: -55px;
        z-index: 1;
        overflow: hidden;
    
    }
    .heroImg {
        position: relative;
        bottom: 321px;
        left: -8.5%;
        height: 320px;
        width: 370px;
    }
    .left {
        flex: 1;
        height: 40%;
        width: 100%;
    }
    
    .leftContent {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: left;
        justify-content: space-evenly;
        flex-direction: column;
        background-color: white;
        border: 1px solid black;
        border-radius: var(--border-radius);
    }
    
    .leftContent h1 {
        font-size: 20px;
        margin-left: 72%;
        margin-bottom: -10%;
        margin-top: -17%;
    }
    
    .contact {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }
    
    .contact button {
        width: 90px;
        height: 40px;
        background-color: black;
        color: white;
        text-decoration: none;
        border-radius: var(--border-radius);
        cursor: pointer;
        box-shadow: 5px 15px 25px black;
        margin-bottom: 40px;
        font-size: 9px;
        font-weight: bold;
        margin-left: 130%;
    }
    .right {
        flex: 1;
        background-color: white;
        height: 100%;
        width: 100%;
        border-radius: var(--border-radius);
        overflow: hidden;
        border: 1px solid black;
    
    }
    
    .rightContainer {
        display: flex;
        flex-direction: column;
        width: 459px;
        height: 100%;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .grid {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
        margin-left: 25%;
        /* grid-template-columns: repeat(4, minmax(25%, auto)); */
        /* width: var(--max-width); */
        /* max-width: 100%; */
    }
    
    .card {
        /* padding: 1rem 1.2rem; */
        border-radius: var(--border-radius);
        background: rgba(var(--card-rgb), 0);
        border: 1px solid rgba(var(--card-border-rgb), 0);
        transition: background 200ms, border 200ms;
    }
    
    .card span {
        display: inline-block;
        transition: transform 200ms;
    }
    
    .card h2 {
        font-weight: 400;
        margin-bottom: 0.4rem;
        font-size: .8rem;
    }
    
    .card p {
        margin: 0;
        opacity: 0.6;
        font-size: 0.6rem;
        line-height: 1.5;
        max-width: 30ch;
    }
}

@media only screen and (max-width: 431px) {
    .main{
      height: 100%;
      max-height: fit-content;
      max-width: 430px;
      min-width: 220px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    .hero{
      height: 60svh;
      width: 100svw;
      max-width: 430px;
      min-width: 220px;
      margin-top: -15%;
    }
    .heroSection{
      height: 100%;
      width: 100svw;
      max-width: 430px;
      background-size: cover;
  
    }
    .heroSection h1{
      font-size: 1.3rem;
      margin-bottom: 2%;
    }
    .heroSection h2{
      font-size: 1.2rem;
    }
    .heroSection h3 {
      margin-top: 2%;
      margin-bottom: 3%;
    }
    .heroContainer{
      width: 100%;
    }
    .heroWrapper{
      flex-direction: column;
      flex: 4;
    }
    .heroLeft{
      flex: 2;
      height: 100%;
      width: 94%;
      
    }
    .heroRight{
      flex: 2;
      height: 100%;
      width: 100%;
    }
    .rightCard{ 
      margin-top: 8%;
      margin-right: 0%;
      padding-bottom: 1%;
      height: 100%;
    }
    .info{
      height: 100%;
      width: 100svw;
      padding-top: 15%;
      
    }
    .infoTop{
      height: 120svh;
      width: 100svw;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      
    }
    .infoSection{
      height: 100%;
      width: 100svw;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    /* .infoContainer{
      justify-content: space-evenly;
    } */
    .infoTopContainer{
      height: 100svh;
      width: 100svw;
      display: flex;
      align-items: center;
    }
    .infoWrapper{
      justify-content: space-evenly;
    }
    .infoTopWrapper{
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
    }
    .infoTopWrapperC{
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
    }
    .infoImage{
      height: 70%;
      width: 90%;
    }
    .article{
      overflow: scroll;
    }
    .infoWrapper h2 {
      font-size: 24px;
      margin-top: 10%;
    }
    .infoWrapper p {
      font-size: 1rem;
      width: 90%;
    }
    .services{
      height: 100%;
      width: 100svw;
      margin-top: -5%;
      /* margin-top: -10vh;
      margin-bottom: -50vh; */
  
    }
    .servicesSection{
      height: 100svh;
      width: 100svw;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-bottom: 1%;
    }
    .servicesWrapper{
      flex-direction: column;
    }
    .gridPattern{
      visibility: hidden;
      display: none;
    }
    .servicesCenter{
      border-left: 0;
      border-right: 0;
    }
    .contact{
      height: 80svh;
      width: 100svw;
      margin-bottom: -55%;
    }
    .contactSection{
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    
    }
    .contactSection h2{
      font-size: 2.8rem;
      margin-bottom: 4%;
    }
  }